.bread-crumb {
    li {
        display: inline-block;
        color: #666;
        font-size: 12px;

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }

        &.last {
            &:after {
                display: none;
            }
        }
    }
}