body.search .sub,
body.search .pager,
body.search .menu-navegue,
body.search .searchResultsTime,
body.search .menu-departamento>span,
body.search .productClusterSearchableIds,
body.search .bt-refinar {
    display: none;
}

body.search .header .main-nav-level-1.active .main-nav-level-1-content .main-nav-level-2.active .main-nav-level-2-content,
body.search .header .main-nav-marcas .box_marcas {
    z-index: 11;
}

body.search .box-banner a {
    position: relative;
    display: -webkit-box;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media screen and (max-width: 1025px) {
    body.search .box-banner a {
        background-size: 100%;
    }
}

body.search .box-banner a img {
    opacity: 0;
    width: 100%;
    height: auto;
}

body.search footer {
    margin-top: 40px;
}

body.search .nice-select {
    z-index: 99;
    background-color: #efefef;
}

body.search .titulo-sessao {
    font-size: 25px;
    line-height: 25px;
}

@media screen and (max-width: 1025px) {
    body.search .nice-select {
        width: 100%;
        position: static;
        border: none;
        background-color: transparent;
    }

    body.search .nice-select:after,
    body.search .nice-select>span {
        display: none;
    }

    body.search .nice-select ul.list {
        opacity: 1;
        width: 100%;
        left: 0;
        top: 40px;
        font-size: 18px;
        border: none;
        box-shadow: none;
        pointer-events: all;
    }

    body.search .nice-select ul.list li {
        padding: 10px;
    }
}

body.search .btn-load-more {
    width: 300px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin: 100px auto 40px;
    text-transform: uppercase;
    border: 1px solid black;
}

@media screen and (max-width: 1025px) {
    body.search .btn-load-more {
        width: 90%;
    }
}

body.search .search-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin: 30px 0;
    letter-spacing: 10px;
}

@media screen and (max-width: 1025px) {
    body.search .search-title {
        font-size: 14px;
        margin: 30px 0;
        letter-spacing: 3px;
    }
}

body.search .search-title h2 {
    width: 100%;
    margin: 0;
}

body.search .search-main-content .button-container {
    position: sticky;
    background-color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

body.search .search-main-content .button-container.active {
    z-index: 999999;
}

body.search .search-main-content .button-container.active {
    position: fixed;
    width: 100%;
}

body.search .search-main-content .button-container a {
    width: 48%;
    border: 1px solid #666;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

body.search .search-main-content .button-container a.open-filter:after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16667 17.5H12.8333V15.1667H8.16667V17.5ZM0 3.5V5.83333H21V3.5H0ZM3.5 11.6667H17.5V9.33333H3.5V11.6667Z' fill='black'/%3E%3C/svg%3E%0A");
}

body.search .search-main-content .button-container a.open-order:after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.41304 15.7142H6.27015V0.357135C6.27015 0.253036 6.23676 0.167309 6.16976 0.100425C6.1028 0.0335792 6.01731 0 5.91305 0H3.77016C3.66606 0 3.58033 0.0334228 3.51345 0.100386C3.44664 0.167427 3.41306 0.253036 3.41306 0.357096V15.7142H1.27013C1.10657 15.7142 0.994965 15.7885 0.93539 15.9373C0.875777 16.0789 0.901929 16.209 1.01346 16.3281L4.58485 19.8996C4.66679 19.9663 4.7522 19.9998 4.84156 19.9998C4.93828 19.9998 5.02388 19.9663 5.09827 19.8996L8.65853 16.3393C8.73304 16.2502 8.77017 16.1606 8.77017 16.0717C8.77017 15.9671 8.73679 15.8818 8.66979 15.8144C8.60279 15.7477 8.51733 15.7142 8.41304 15.7142Z' fill='black'/%3E%3Cpath d='M16.7509 18.7278H13.9829C13.8267 18.7278 13.7151 18.7352 13.6483 18.75L13.4919 18.7723V18.75L13.6148 18.6272C13.7261 18.4935 13.8045 18.3967 13.8492 18.3375L17.9672 12.4219V11.4287H11.6391V13.9844H12.9784V12.7009H15.5677C15.7014 12.7009 15.8133 12.6897 15.9021 12.6675C15.9245 12.6675 15.9524 12.6656 15.9859 12.6618C16.0192 12.6585 16.0435 12.6562 16.0583 12.6562V12.6896L15.9354 12.7902C15.8688 12.8571 15.7903 12.9573 15.7011 13.0915L11.583 18.9956V20H18.1008V17.3996H16.7506V18.7278H16.7509Z' fill='black'/%3E%3Cpath d='M18.3127 7.38851L15.7457 0H13.9377L11.3708 7.38851H10.5898V8.57156H13.7927V7.38851H12.9558L13.4804 5.7814H16.1925L16.7169 7.38851H15.8803V8.57156H19.0947V7.38851H18.3127ZM13.8486 4.55359L14.6633 2.12053C14.693 2.03121 14.7211 1.92328 14.7471 1.79686C14.7729 1.67036 14.786 1.60339 14.786 1.59597L14.8195 1.37284H14.8641C14.8641 1.40258 14.8716 1.47697 14.8861 1.59597L15.0203 2.12049L15.8238 4.55355H13.8486V4.55359Z' fill='black'/%3E%3C/svg%3E%0A");
}

body.search .search-main-content .button-container a:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body.search .search-results .shelf>ul {
    overflow: initial;
}

body.search {
    @media screen and (max-width: $mobile) {
        .shelf {
            article {
                border: none;

                .columns {
                    display: flex;

                    .column {
                        &.column_1 {
                            width: 30%;
                        }

                        &.column_2 {
                            width: 70%;
                            padding-left: 10px;

                            h3 {
                                height: auto;
                                font-size: 16px;
                                font-weight: 400;
                            }

                            .shelf-price {
                                padding: 0;
                            }
                        }
                    }
                }

                .outOfStock {
                    @media screen and (max-width:$mobile) {
                        color: #ed1b24;
                        padding: 5px 10px;
                        font-weight: bold;
                        border-radius: 10px;
                        display: inline-block;
                        background-color: #fef200;
                    }
                }

                .buy-button-normal {
                    display: none;
                }
            }
        }
    }
}

body.search .search-results .shelf>ul:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1025px) {
    body.search .search-results {
        margin: 0;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}

body.search .search-seo-text {
    text-align: center;
}

@media screen and (max-width: 1025px) {
    body.search .search-seo-text {
        padding: 10px;
    }
}

body.search .search-result-data .container,
body.search .search-result-data .row {
    height: 100%;
    align-items: flex-start;
}

body.search .search-result-data-filtered {
    display: flex;
    min-height: 42px;
    align-items: center;
    justify-content: space-between;
}

body.search .search-result-data-filtered-items {
    width: 80%;
    height: 100%;
}

body.search .search-result-data-filtered-items ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:before {
        margin-right:10px;
        content: 'Filtros selecionados:';
    }

    @media screen and (max-width: 1025px) {
        margin-bottom: 0;
        
        &:empty {
            display: none;
    
            & + .search-result-data-filtered-clear {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    body.search .search-result-data-filtered {
        flex-wrap: wrap;
    }

    body.search .search-result-data-filtered-clear,
    body.search .search-result-data-filtered-items {
        width: 100%;
    }
}

body.search .search-result-data-filtered-items a {
    padding: 10px;
    min-width: 164px;
    border-radius: 4px;
    font-weight: normal;
    display: inline-block;
    background-color: #ddf5ff;
}

body.search .search-result-data-filtered-items a:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 1025px) {
    body.search .search-result-data-filtered-items a {
        padding: 10px;
        min-width: auto;
        font-size: 12px;
        line-height: 22px;
        border-radius: 4px;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        background-color: #ddf5ff;
    }
}

body.search .search-result-data-filtered-items a span {
    float: right;
    font-weight: 700;
}

@media screen and (max-width: 1025px) {
    body.search .search-result-data-filtered-items a span {
        margin-left: 10px;
    }
}

body.search .search-result-data-filtered-items .search-result-data-filtered-clear {
    display: inline-block;
}

body.search .search-result-data-filtered-items .search-result-data-filtered-clear a {
    background-color: transparent;
}

@media screen and (max-width: 1025px) {
    body.search .search-result-data-filtered-clear span {
        white-space: nowrap;
        font-size: 10px;
    }
}

body.search .search-result-data-filtered-clear a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body.search .search-result-data-filtered-clear a svg {
    margin-right: 5px;
}

body.search .search-result-data-order {
    height: 100%;
}

@media screen and (max-width: 1025px) {
    body.search .search-result-data-order {
        position: fixed;
        bottom: -100%;
        width: 100%;
        height: 80%;
        max-width: 100%;
        margin-top: 0;
        z-index: 99999;
        overflow-y: scroll;
        background-color: white;
    }

    body.search .search-result-data-order.active {
        bottom: 0;
    }
}

body.search .search-result-data-order .orderBy {
    border: none;
    padding: 0;
    margin: 0;
}

body.search .search-result-data-order .orderBy label {
    display: none;
}

body.search .search-result-data-order .orderBy select {
    position: absolute;
    right: 0;
    height: 30px;
    margin-top: 0px;
}

body.search .menu-departamento.loaded>div * {
    opacity: 1;
}

body.search .menu-departamento.loaded>div:after {
    display: none;
}

body.search .menu-departamento>div {
    position: relative;
}

body.search .menu-departamento>div * {
    opacity: 0;
}

body.search .menu-departamento>div:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 120px;
}

body.search #view-more {
    width: 100%;
    display: flex;
    font-size: 14px;
    padding-top: 10px;
    margin: -15px 0 30px;
    align-items: center;
    border-top: 1px solid #dcdcdc;

    &.active {
        font-size: 0;

        i {
            margin-top: 6px;
            transform: rotate(225deg);
        }

        &:before {
            font-size: 14px;
            content: 'Exibir Menos';
        }
    }
}

body.search #view-more i {
    width: 10px;
    height: 10px;
    display: block;
    margin-left: 10px;
    margin-top: -4px;
    transition: all 300ms;
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

body.search .search-single-navigator.more {
    overflow: hidden;

    @media screen and (min-width:1025px) {
        max-height: 250px;
    }

    @media screen and (max-width:1025px) {
        max-height: 260px;
    }
}

body.search .search-single-navigator {
    margin-bottom: 40px;
    display: block !important;
}

body.search .search-single-navigator h4 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
}

body.search .search-single-navigator ul,
body.search .search-single-navigator .HideMarca,
body.search .search-single-navigator ul.Marca,
body.search .search-multiple-navigator>h3,
body.search .search-multiple-navigator>h4 {
    display: none;
}

body.search .search-multiple-navigator fieldset {
    border: none;
    border-top: 1px solid black;
    padding: 0;
    margin-bottom: 40px;
}

body.search .search-multiple-navigator fieldset h3,
body.search .search-multiple-navigator fieldset h5 {
    font-size: 13px;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

body.search .search-multiple-navigator fieldset label {
    display: block;
    margin: 10px 0;
    font-size: 13px;
}

body.search .search-multiple-navigator fieldset label:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #4acdb6;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 13px;
    font-size: 12px;
    text-align: center;
}

body.search .search-multiple-navigator fieldset label.sr_selected:before {
    content: '\2713';
    border-color: #4acdb6;
}

body.search .search-multiple-navigator fieldset input {
    display: none;
}

@media screen and (max-width: 1025px) {
    body.search aside.search-filter {
        position: fixed;
        bottom: -100%;
        width: 100%;
        max-width: 100%;
        height: 80%;
        overflow-y: scroll;
        margin-top: 0;
        background-color: white;
        z-index: 99999;
        padding-bottom: 40px;
    }

    body.search aside.search-filter.active {
        bottom: 0;
    }
}

body.search fieldset.refino,
body.search fieldset.refino-marca {
    max-height: 500px;
    transition: all 300ms;
}

body.search fieldset.refino.closed,
body.search fieldset.refino-marca.closed {
    max-height: 30px;
    overflow: hidden;
}

body.search fieldset.refino.closed h5:after,
body.search fieldset.refino-marca.closed h5:after {
    content: '+';
}

body.search fieldset.refino h3,
body.search fieldset.refino-marca h3,
body.search fieldset.refino h5,
body.search fieldset.refino-marca h5 {
    cursor: pointer;
}

body.search fieldset.refino h3:after,
body.search fieldset.refino-marca h3:after,
body.search fieldset.refino h5:after,
body.search fieldset.refino-marca h5:after {
    content: '-';
    position: relative;
    display: inline-block;
    font-size: 13px;
    float: right;
}

.filter-overlay {
    position: fixed;
    z-index: 99998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.filter-overlay.active {
    display: block;
}