/*BUSCA VAZIA*/
.busca-nova .line .title1 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lato', sans-serif !important;
}

.busca-nova .line .divider {
    height: 1px;
    width: 10%;
    background: #d91e25;
    margin: 20px 45% 60px 45%;
}

.busca-nova .line .title2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Lato', sans-serif !important;
    margin-bottom: 10px;
}

.busca-nova .line .logo-marcas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.busca-nova .line .logo-marcas .marcas-img {
    width: 16%;
    margin: 20px 2%;
    text-align: center;
}

.busca-nova .line .logo-marcas .marcas-img img {
    width: 70%
}

.busca-nova .line .logo-marcas .marcas-img:hover {
    opacity: 0.5;
}

.busca-nova .line .emoji {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    padding: 30px 0 0 0;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .busca-nova .line .title1 {
        line-height: 20px;
    }

    .busca-nova .line .divider {
        height: 1px;
        width: 10%;
        background: #d91e25;
        margin: 20px 45% 60px 45%;
    }

    .busca-nova .line .title2 {
        line-height: 28px;
    }

    .busca-nova .line .logo-marcas .marcas-img {
        width: 40%;
        margin: 10px 5%;
    }

    .busca-nova .line .logo-marcas .marcas-img img {
        width: 95%;
    }

    .busca-nova .line .logo-marcas .marcas-img:hover {
        opacity: 0.5;
    }

    .busca-nova .line .emoji {
        text-align: center;
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
/*FIM - BUSCA VAZIA*/