footer {
    display: none;

    &.v2 {
        display: block!important;
    }
    
    .row_0 {
        padding: 30px 0;
        background-color: #F0F2F8;

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .column_1,
                .column_2 {
                    width: 50%;
                }
            }

            .column {
                &.column_1 {
                    @media screen and (max-width:$mobile) {
                        text-align: center;
                    }

                    h2 {
                        margin: 0;
                        font-size: 30px;
                    }

                    p {
                        margin: 10px 0;
                        font-size: 16px;

                        @media screen and (max-width:$mobile) {
                            margin: 20px 0;
                        }
                    }
                }

                &.column_2 {
                    .newsletter {
                        h3,
                        .newsletter-title {
                            display: none;
                        }

                        fieldset {
                            >p {
                                display: none;
                            }

                            #newsletterClientName,
                            #newsletterClientEmail {
                                width: 38%;
                                height: 45px;
                                margin-right: 2%;
                                text-indent: 15px;
                                border-radius: 3px;
                                background-color: #fff;
                                border: 1px solid #dcdcdc;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    margin-bottom: 5px;
                                }
                            }

                            #newsletterButtonOK {
                                width: 20%;
                                height: 45px;
                                color: #000;
                                border: none;
                                cursor: pointer;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                text-transform: uppercase;
                                background-color: #FADA4A;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row_1 {
        padding: 30px 0;
        margin-top: 15px;
        background-color: #f0f2f8;

        @media screen and (max-width:$mobile) {
            padding-top: 10px;
            padding-bottom: 0;
        }

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @media screen and (max-width:$mobile) {
                .toggle {
                    border-bottom: 1px solid #fff;

                    .title {
                        margin: 0;
                        height: 40px;
                        line-height: 40px;

                        &.active {
                            &:after {
                                content: '-';
                            }
                        }

                        &:after {
                            content: '+';
                            float: right;
                        }
                    }

                    ul {
                        display: none;
                    }
                }
            }

            .title {
                margin-top: 0;
                font-size: 16px;
                font-weight: bold;

                @media screen and (max-width:$mobile) {
                    text-transform: uppercase;
                }
            }

            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }

            .info {
                &.atendimento {
                    @media screen and (min-width:$mobile) {
                        margin-top: 50px;
                    }

                    a {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                &.redes {
                    margin-top: 50px;

                    @media screen and (max-width:$mobile) {
                        text-align: center;
                    }

                    ul {
                        display: flex;

                        @media screen and (max-width:$mobile) {
                            justify-content: center;
                        }

                        li {
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        @media screen and (max-width:$mobile) {
            margin-top: 40px;

            .store-description {
                p {
                    font-size: 13px;
                }
            }
        }

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @media screen and (max-width:$mobile) {
                text-align: center;
            }

            .title {
                font-weight: bold;
            }

            ul {
                display: flex;
                align-items: center;

                @media screen and (max-width:$mobile) {
                    justify-content: center;

                    img {
                        height: auto;
                        max-width: 100%
                    }
                }

                li {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .row_3 {
        background-color: #f0f2f8;

        p {
            font-size: 13px;
        }
    }
}