header {
    padding-top: 10px;
}

header {
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #000;
    }
}

header .row_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 0px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_1 {
        display: flex !important;
        align-items: center;
        width: 20%;
        order: 1;
    }

    header .row_1 .column.column_1 .hamburger span {
        display: block;
        width: 45px;
        height: 3px;
        background-color: #e0662a;
        border-radius: 2px;
        margin: 0 auto 7px;
    }

    header .row_1 .column.column_1 .hamburger span:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1025px) and (max-width: 1025px) {
    header .row_1 .column.column_1 .hamburger span {
        width: 35px;
        height: 4px;
        background-color: #000;
    }
}

header .row_1 .column.column_2 {
    width: 15%;
    padding-top: 0px;
}

header .row_1 .column.column_2 img {
    max-width: 212px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_2 {
        width: 60%;
        order: 2;
        text-align: center;
    }
}

header .row_1 .column.column_3 {
    width: 40%;
}

@media screen and (min-width: 1025px) {
    header .row_1 .column.column_3 {
        padding: 20px 0 0 40px;
    }
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 {
        order: 4;
        width: 100%;
        padding: 7px 0;
    }
}

header .row_1 .column.column_3 .info {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .info {
        display: none;
    }
}

header .row_1 .column.column_3 .info span {
    font-weight: 900;
}

header .row_1 .column.column_3 .info a {
    font-weight: bold;
    font-style: italic;
    margin-right: 6px;
}

header .row_1 .column.column_3 .info a svg {
    width: 15px;
    height: 15px;
    fill: #e0662a;
}

header .row_1 .column.column_3 .search {
    position: relative;
}

header .row_1 .column.column_3 .search .input {
    width: 90%;
    display: flex;
    border-radius: 50px;
    background-color: #ffffff;

    @media screen and (max-width:1024px) {
        width: 100%;
    }
}

header .row_1 .column.column_3 .search .input input {
    width: 100%;
    height: 50px;
    text-indent: 20px;
    border-radius: 50px;
}

header .row_1 .column.column_3 .search .input button {
    position: relative;
    margin-left: -54px;
    width: 80px;
    height: 50px;
    border-radius: 30px;
    outline: 0;
    border: none;
    cursor: pointer;
    background-color: #ffda00;
}

header .row_1 .column.column_3 .search .input button svg {
    width: 23px;
    height: 23px;
}

header .row_1 .column.column_3 .search .result {
    width: 90%;
    max-width: 530px;
    position: absolute;
    top: 53px;
    background-color: white;
    box-shadow: 0 0 16px 2px #f5f5f5;
    z-index: 2;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .search .result {
        width: 100%;
    }
}

header .row_1 .column.column_3 .search .result .digitando {
    display: block;
    margin-bottom: 30px;
}

header .row_1 .column.column_3 .search .result .digitando:empty {
    display: none;
}

header .row_1 .column.column_3 .search .result .digitando p {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    padding: 0 20px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .search .result .digitando p {
        padding: 0 10px;
    }
}

header .row_1 .column.column_3 .search .result .digitando p a {
    color: #000;
}

header .row_1 .column.column_3 .search .result>ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 4px solid #ffda00;
    padding: 0 10px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .search .result>ul {
        padding: 0 10px;
    }
}

header .row_1 .column.column_3 .search .result>ul:empty {
    display: none;
}

header .row_1 .column.column_3 .search .result>ul li {
    border-top: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 5px 0;
}

header .row_1 .column.column_3 .search .result>ul li a {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header .row_1 .column.column_3 .search .result>ul li a .image {
    width: 15%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

header .row_1 .column.column_3 .search .result>ul li a .image img {
    width: 60px;
    height: auto;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .row_1 .column.column_3 .search .result>ul li a .name {
    width: 67%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .search .result>ul li a .name {
        width: 60%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

header .row_1 .column.column_3 .search .result>ul li a .name h3 {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    width: 260px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

header .row_1 .column.column_3 .search .result>ul li a .box_price {
    width: 18%;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_3 .search .result>ul li a .box_price {
        width: 25%;
    }
}

header .row_1 .column.column_3 .search .result>ul li a .box_price .de_price {
    display: none;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
}

header .row_1 .column.column_3 .search .result>ul li a .box_price .parcelas {
    display: none;
}

header .row_1 .column.column_3 .search .result>ul li a .box_price .parcelas span {
    font-weight: bold;
    color: #2d4f9e;
}

header .row_1 .column.column_3 .search .result>ul li a .box_price .por_price {
    font-weight: bold;
    color: #000;
    font-size: 12px;
}

header .row_1 .column.column_3 .search .result>ul li a .box_price .por_price span {
    font-size: 16px;
    color: #000;
    display: block;
    font-weight: bold;
}

header .row_1 .column.column_4 {
    width: 40%;
    padding-top: 0px;
    padding-right: 15px;
    position: relative;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_4 {
        display: none;
    }
}

header .row_1 .column.column_4>ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    margin: 0;
    padding-top: 6px;
}

header .row_1 .column.column_4>ul li {
    display: flex;
    align-items: center;
}

header .row_1 .column.column_4>ul li:nth-child(1) p strong,
header .row_1 .column.column_4>ul li:nth-child(2) p strong,
header .row_1 .column.column_4>ul li:nth-child(3) p strong {
    color: #000000;
    font-size: 16px;
}

header .row_1 .column.column_4>ul li:nth-child(1) p span span,
header .row_1 .column.column_4>ul li:nth-child(2) p span span,
header .row_1 .column.column_4>ul li:nth-child(3) p span span {
    color: #000000;
}

header .row_1 .column.column_4>ul li:nth-child(1) p strong,
header .row_1 .column.column_4>ul li:nth-child(2) p strong,
header .row_1 .column.column_4>ul li:nth-child(3) p strong {
    color: #000000;
}

header .row_1 .column.column_4>ul li:nth-child(1) p span span,
header .row_1 .column.column_4>ul li:nth-child(2) p span span,
header .row_1 .column.column_4>ul li:nth-child(3) p span span {
    color: #000000;
}

header .row_1 .column.column_4>ul li:nth-child(1) p span:after,
header .row_1 .column.column_4>ul li:nth-child(2) p span:after,
header .row_1 .column.column_4>ul li:nth-child(3) p span:after {
    display: none;
}

header .row_1 .column.column_4>ul li:nth-child(1) .hover,
header .row_1 .column.column_4>ul li:nth-child(2) .hover,
header .row_1 .column.column_4>ul li:nth-child(3) .hover {
    width: 350px;
    position: absolute;
    padding-top: 15px;
    z-index: 1;
    display: none;
}

header .row_1 .column.column_4>ul li:nth-child(1) .hover.btn_account ul li:first-child a,
header .row_1 .column.column_4>ul li:nth-child(2) .hover.btn_account ul li:first-child a,
header .row_1 .column.column_4>ul li:nth-child(3) .hover.btn_account ul li:first-child a {
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 0;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-image: url(/arquivos/ico-arrow-white-account.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 95%;
}

header .row_1 .column.column_4>ul li:nth-child(1) .hover p,
header .row_1 .column.column_4>ul li:nth-child(2) .hover p,
header .row_1 .column.column_4>ul li:nth-child(3) .hover p {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 0 16px 2px #d9e4ff;*/
    background-color: #ffda00;
    position: relative;
    padding: 15px;
    right: 35px;
    margin: 0;
    top: -10px;
    line-height: 22px;
}

header .row_1 .column.column_4>ul li:nth-child(1) .hover p:after,
header .row_1 .column.column_4>ul li:nth-child(2) .hover p:after,
header .row_1 .column.column_4>ul li:nth-child(3) .hover p:after {
    content: "";
    top: -10px;
    right: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent #2b272700 #ffda00 transparent;
}

header .row_1 .column.column_4>ul li>div:hover .hover {
    display: block;
}

header .row_1 .column.column_4>ul li>div .hover.btn_account {
    right: -62px;
}

header .row_1 .column.column_4>ul li>div>a {
    display: flex;
    align-items: center;
}

header .row_1 .column.column_4>ul li>div>a i {
    margin-right: 5px;
    max-height: 40px;
}

header .row_1 .column.column_4>ul li>div>a p span.phone-whatsapp {
    font-size: 16px;
}

header .row_1 .column.column_4>ul li>div>a i.fab.fa-whatsapp {
    color: green;
    margin-right: 0;
}

header .row_1 .column.column_4>ul li>div>a i img {
    width: 72px;
    height: auto;
}

header .row_1 .column.column_4>ul li>div>a i svg {
    width: 35px;
    height: 35px;
    fill: #2d4f9e;
}

header .row_1 .column.column_4>ul li>div>a i svg.cart {
    height: 70px;
    width: 70px;
    margin-top: -16px;
}

header .row_1 .column.column_4>ul li>div>a p {
    font-size: 13px;
    font-weight: 400;
}

header .row_1 .column.column_4>ul li>div>a p span {
    display: block;
    position: relative;
    color: #000000;
}

header .row_1 .column.column_4>ul li>div>a p span:after {
    content: "";
    position: absolute;
    right: -14px;
    bottom: 5px;
    width: 8px;
    height: 8px;
    display: block;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
}

header .row_1 .column.column_4>ul li>div>a p strong {
    font-weight: bold;
}

header .row_1 .column.column_4>ul li>div .hover {
    width: 175px;
    position: absolute;
    padding-top: 15px;
    z-index: 1;
    display: none;
}

header .row_1 .column.column_4>ul li>div .hover.btn_account ul li:first-child a {
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 0;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-image: url(/arquivos/ico-arrow-white-account.png);
    background-color: #2d4f9e;
    background-repeat: no-repeat;
    background-position: 95%;
}

header .row_1 .column.column_4>ul li>div .hover ul {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 0 16px 2px #FFF;*/
    background-color: #ffda00;
    position: relative;
    padding: 15px;
}

header .row_1 .column.column_4>ul li>div .hover ul:after {
    content: "";
    top: -10px;
    right: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent #2b272700 #ffda00 transparent;
}

header .row_1 .column.column_4>ul li>div .hover ul li {
    margin-bottom: 10px;
}

header .row_1 .column.column_4>ul li>div .hover ul li.atendimento {
    border-top: 1px solid #9f9f9f;
    padding-top: 10px;
}

header .row_1 .column.column_4>ul li>div .hover ul li:last-child {
    margin-bottom: 0;
}

header .row_1 .column.column_4>ul li>div .hover ul li a {
    font-weight: bold;
}

header .row_1 .column.column_5 {
    width: 5%;
    padding: 25px 0 0 30px;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_5 {
        width: 20%;
        order: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

header .row_1 .column.column_5 a .cart {
    position: relative;
    text-align: center;
}

header .row_1 .column.column_5 a .cart i svg {
    width: 40px;
    height: 40px;
    fill: #2d4f9e;
}

header .row_1 .column.column_5 a .cart .qtd {
    position: absolute;
    top: 0;
    right: -16px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50px;
    background-color: #000000;
}

@media screen and (max-width: 1025px) {
    header .row_1 .column.column_5 a .cart .qtd {
        right: -5px;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2 {
        background-color: #fff;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 12;
        transition: left 300ms;
    }

    header .row_2.active {
        left: 0;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container {
        overflow: scroll;
        width: 85%;
        box-shadow: 0 0 16px 2px #d9e4ff;
        background-color: #fff;
        margin: 0;
    }

    header .row_2>.container .head {
        margin: 0 -15px;
        padding: 20px 0 10px 0;
        font-size: 16px;
        font-weight: bold;
        text-indent: 15px;
        text-transform: uppercase;
        color: #ffda00;
        background-color: #000;
    }

    header .row_2>.container .subhead {
        margin: 0 -15px;
        padding: 0px 0 0px 0;
        font-size: 16px;
        font-weight: bold;
        text-indent: 15px;
        color: #000;
        background-color: #CCC;
        display: none;
    }

    header .row_2>.container .subhead p {
        display: flex;
    }

    header .row_2>.container .subhead p:before {
        content: "";
        width: 8px;
        height: 8px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        display: block;
        transform: rotate(135deg);
        margin: 5px 15px 0;
    }
}

header .row_2>.container .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content {
        overflow-x: hidden;
        overflow-y: hidden;
        flex-direction: column;
        padding: 20px 0;
        min-height: 460px;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 {
        width: 3.5%;
    }
}

header .row_2>.container .content section.menu_1 p {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 p {
        color: #15203a;
        background-color: #fff;
        padding: 10px 7px;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 p {
        width: 100%;
        justify-content: space-between;
        font-size: 16px;
    }

    header .row_2>.container .content section.menu_1 p:after {
        content: "";
        width: 8px;
        height: 8px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        display: block;
        transform: rotate(-45deg);
        margin-right: 5px;
    }

    header .row_2>.container .content section.menu_1 p br {
        display: none;
    }
}

header .row_2>.container .content section.menu_1 p:hover i span {
    background-color: #afd8fa;
}

header .row_2>.container .content section.menu_1 p:hover+nav {
    opacity: 1;
    visibility: visible;
}

header .row_2>.container .content section.menu_1 p i {
    padding-right: 5px;
}

header .row_2>.container .content section.menu_1 p i span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: all 300ms;
    border-radius: 5px;
    margin-bottom: 5px;
}

header .row_2>.container .content section.menu_1 p i span:last-child {
    margin-bottom: 0;
}

header .row_2>.container .content section.menu_1 p span {
    display: none;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 p span {
        display: block;
    }
}

header .row_2>.container .content section.menu_1 nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    background-color: white;
    z-index: 2;
    margin-top: -20px;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav {
        width: 870px;
        height: auto;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        box-shadow: 0 0 16px 2px #f5f5f5;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav {
        width: 100%;
        top: 0;
        right: -100%;
    }

    header .row_2>.container .content section.menu_1 nav.active {
        right: 0;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav:hover {
        opacity: 1;
        visibility: visible;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_1 {
    width: 33%;
    box-shadow: 0 0 16px 2px #d9e4ff;
    z-index: 1;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav>.column_1 {
        box-shadow: none;
        background-color: white;
        width: 100%;
        height: 150%;
        position: absolute;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_1>ul {
    padding: 0px 0px 20px 0px;
    margin-top: 30px;
}

header .row_2>.container .content section.menu_1 nav>.column_1>ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav>.column_1>ul li a {
        text-indent: 20px;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_1>ul li a:after {
    width: 8px;
    height: 8px;
    display: block;
    content: "";
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-right: 15px;
    transform: rotate(-45deg);
    margin-right: 15px;
}

header .row_2>.container .content section.menu_1 nav>.column_2 {
    width: 60%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav>.column_2 {
        width: 100%;
        height: 460px;
        right: -100%;
    }

    header .row_2>.container .content section.menu_1 nav>.column_2.active {
        right: 0;
        margin-top: 10px;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_2 .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    transition: left 300ms;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav>.column_2 .content {
        padding-left: 40px;
        left: -100%;
        opacity: 0;
    }

    header .row_2>.container .content section.menu_1 nav>.column_2 .content.active {
        opacity: 1;
        left: 0;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_1 nav>.column_2 .content {
        z-index: 1;
        background-color: white;
        display: none;
        min-height: 460px !important;
    }

    header .row_2>.container .content section.menu_1 nav>.column_2 .content.active {
        display: block;
    }
}

@media screen and (min-width: 1025px) {

    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1 ul,
    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2 ul {
        padding: 20px 0;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 {
    width: 45%;
}

@media screen and (max-width: 1025px) {

    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1,
    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2,
    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 {
        width: 100%;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1 ul li a,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2 ul li a,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 ul li a {
    font-size: 15px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1 img,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2 img,
header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1025px) {

    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_1 img,
    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_2 img,
    header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 img {
        display: none;
    }
}

header .row_2>.container .content section.menu_1 nav>.column_2 .content .column_3 {
    display: none;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2 {
        width: 95%;
    }
}

header .row_2>.container .content section.menu_2>ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul {
        padding-left: 15px;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li {
        height: 100%;
    }

    header .row_2>.container .content section.menu_2>ul li:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
}

header .row_2>.container .content section.menu_2>ul li:last-child span:after {
    display: none;
}

header .row_2>.container .content section.menu_2>ul li a {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li a br {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li a {
        height: 100%;
    }
}

header .row_2>.container .content section.menu_2>ul li a i {
    margin-right: 5px;

    @media screen and (max-width:1025px) {
        width: 30px;
    }
}

header .row_2>.container .content section.menu_2>ul li a span {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: relative;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li a span {
        color: #141414;
    }

    header .row_2>.container .content section.menu_2>ul li a span.ferragem {
        padding: 7px 0;
    }

    header .row_2>.container .content section.menu_2>ul li a span:after {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -17px;
        background-color: #141414;
    }
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li a span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        color: #141414;
    }

    header .row_2>.container .content section.menu_2>ul li a span:after {
        content: "";
        width: 8px;
        height: 8px;
        border-right: 2px solid #141414;
        border-bottom: 2px solid #141414;
        display: block;
        transform: rotate(-45deg);
        margin-right: 5px;
    }
}

header .row_2>.container .content section.menu_2>ul li .submenu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: 0;
    background: white;
    z-index: 3;
    width: 100%;
    height: auto;
    padding: 10px;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li .submenu {
        border-bottom: 7px solid #1a3164;
    }
}

header .row_2>.container .content section.menu_2>ul li .submenu.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

header .row_2>.container .content section.menu_2>ul li .submenu .column {
    width: 25%;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li .submenu .column {
        width: 100%;
    }
}

header .row_2>.container .content section.menu_2>ul li .submenu .column ul li a {
    font-size: 15px;
    font-style: italic;
    display: block;
}

@media screen and (min-width: 1025px) {
    header .row_2>.container .content section.menu_2>ul li .submenu .column ul li a {
        padding-bottom: 10px;
    }
}

header .row_2>.container .footer {
    padding: 20px 0;
}

@media screen and (max-width: 1025px) {
    header .row_2>.container .footer {
        height: 515px;
    }
}

header .row_2>.container .footer .btn_whats {
    width: 100%;
    height: 45px;
    line-height: 42px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    color: #00a453;
    border: 2px solid #00a453;
    font-size: 18px;
    font-weight: bold;
}

header .row_2>.container .footer .btn_whats i svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: -2px;
    fill: #00a453;
}

header .row_2>.container .footer .btn_fale_conosco {
    display: block;
    margin: 15px 0;
    padding: 5px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

header .row_2>.container .footer .btn_fale_conosco p {
    font-weight: bold;
    margin-bottom: 3px;
}

header .row_2>.container .footer .btn_fale_conosco ul {
    display: flex;
}

header .row_2>.container .footer .btn_fale_conosco ul li {
    margin-right: 5px;
}

header .row_2>.container .footer .btn_fale_conosco ul li a {
    display: flex;
    align-items: center;
    font-weight: 400;
}

header .row_2>.container .footer .btn_fale_conosco ul li a i {
    margin-right: 3px;
}

header .row_2>.container .footer .btn_truck {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}

header .row_2>.container .footer .btn_truck i {
    margin-right: 10px;
}

header .row_2>.container .footer .btn_truck p strong {
    display: block;
}

header .row_2>.container .footer>ul {
    display: flex;
    flex-direction: row;
}

header .row_2>.container .footer>ul>li {
    width: 50%;
}

header .row_2>.container .footer>ul>li:first-child:hover .hover {
    display: block;
}

header .row_2>.container .footer>ul>li:first-child p:after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 8px;
    height: 8px;
    display: block;
    border-right: 2px solid #363636;
    border-bottom: 2px solid #363636;
    transform: rotate(45deg);
}

header .row_2>.container .footer>ul>li>a,
header .row_2>.container .footer>ul>li span {
    display: flex;
    align-items: center;
}

header .row_2>.container .footer>ul>li>a i,
header .row_2>.container .footer>ul>li span i {
    width: 20%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: #2d4f9e;
}

header .row_2>.container .footer>ul>li>a p,
header .row_2>.container .footer>ul>li span p {
    width: 80%;
    line-height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    position: relative;
}

header .row_2>.container .footer>ul>li .hover {
    width: 200px;
    padding-top: 10px;
    display: none;
}

header .row_2>.container .footer>ul>li .hover ul li a {
    font-size: 13px;
    margin-bottom: 5px;
}

header .row_2>.container .footer>ul>li .hover ul li a i {
    margin-right: 3px;
}

header .row_2 .close {
    width: 15%;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #feda07;
}