.home h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.home-banner ul {
  margin: 0;
}

.home-banner ul:not(.slick-slider) .box-banner:not(:first-child) {
  display: none;
}

.home-banner ul .slick-slide {
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .home-banner ul img {
    position: relative;
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1025px) {
  .home-banner ul img {
    width: 100%;
    height: auto;
  }
}

.home-options-cat {
  display: block;

  ul {
    display: flex;

    @media screen and (min-width:1025px) {
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (max-width:1025px) {
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: initial;
      margin: 15px -15px 15px 0;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    li {
      @media screen and (min-width:1025px) {
        width: calc(100% / 7);
      }

      @media screen and (max-width:1025px) {
        flex: 0 0 auto;
        padding-right: 10px;
      }

      figure {
        margin: 0;

        span {
          width: 130px;
          height: 130px;
          display: flex;
          margin: 0 auto;
          position: relative;
          align-items: center;
          justify-content: center;

          &:after {
            top: 0;
            left: 0;
            content: '';
            z-index: -1;
            width: 130px;
            height: 130px;
            display: block;
            border-radius: 50%;
            position: absolute;
            background-color: #F0F2F8;
          }
        }

        figcaption {
          margin: 5px auto 0;
          text-align: center;
        }
      }
    }
  }
}

.home-brands .Polaroid-Kids {
  display: none;
}

.home-brands .slick-slide {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.home-brands .slick-slide img {
  width: 165px;
  height: auto;
}

@media screen and (max-width: 1025px) {
  .home-brands .slick-slide img {
    max-width: 100%;
    height: auto;
  }
}

.home-brands button.slick-prev,
.home-brands button.slick-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.home-brands button.slick-prev:after,
.home-brands button.slick-next:after {
  content: '';
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  display: inline-block;
}

.home-brands .slick-prev {
  left: 0;
}

@media screen and (max-width: 1025px) {
  .home-brands .slick-prev {
    left: -10px;
  }
}

.home-brands .slick-prev:after {
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.home-brands .slick-next {
  right: 0;
}

@media screen and (max-width: 1025px) {
  .home-brands .slick-next {
    right: -10px;
  }
}

.home-brands .slick-next:after {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.home-middle-content {
  margin: 90px 0;
}

@media screen and (max-width: 1025px) {
  .home-middle-content {
    margin: 20px 0 15px 0;
  }
}

.home-middle-content h2 {
  color: #ffed00;
  font-size: 24px;
  margin: 0;
  text-transform: none;
  letter-spacing: inherit;
  font-weight: bold;
}

@media screen and (max-width: 1025px) {
  .home-middle-content h2 svg {
    padding-top: 16px;
  }
}

.home-middle-content .row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  .home-middle-content .col-md-4 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.home-middle-content .col-md-4 img {
  z-index: 99;
  position: relative;
  margin-left: 10px;
}

@media screen and (max-width: 1025px) {
  .home-middle-content .col-md-4 img {
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}

.home-middle-content .col-md-4:last-of-type {
  max-width: 40%;
  flex: 0 0 40%;
  background-color: #fcfcfc;
  margin-left: -110px;
  padding-left: 60px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 14px;
}

@media screen and (max-width: 1349px) {
  .home-middle-content .col-md-4:last-of-type {
    margin-left: 0;
    padding-right: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 0;
  }
}

@media screen and (max-width: 1025px) {
  .home-middle-content .col-md-4:last-of-type {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home-middle-content form input {
  height: 40px;
  background-color: #eee;
  border: none;
  width: calc(100% - 40px);
  vertical-align: middle;
  padding-left: 10px;
  border-radius: 0;
}

.home-middle-content form button {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: none;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4 17.3l-4.7-4.5c1.1-1.4 1.8-3 1.8-5A8 8 0 008.3 0 8 8 0 000 7.8a8 8 0 008.3 7.9c2 0 3.8-.7 5.2-1.8l4.7 4.4c.3.3.9.3 1.2 0 .3-.3.3-.7 0-1zM8.3 14a6.5 6.5 0 01-6.7-6.3c0-3.4 3-6.2 6.7-6.2 3.6 0 6.6 2.8 6.6 6.2 0 3.5-3 6.3-6.6 6.3z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
}

.home-middle-content .store-locator-find {
  font-size: 14px;
  font-weight: lighter;
  color: #ccc;
  margin-top: 5px;
  display: block;
  text-decoration: underline;
}

.home-middle-half-banners,
.home-end-prat-banners {
  margin: 30px 0 10px 0;
}

.home-middle-half-banners .row,
.home-end-prat-banners .row {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 810px) {

  .home-middle-half-banners .row,
  .home-end-prat-banners .row {
    justify-content: flex-start;
    flex-direction: column;
  }
}

.home-middle-half-banners .box-banner,
.home-end-prat-banners .box-banner {
  max-width: 100%;
}

@media screen and (max-width: 1025px) {

  .home-middle-half-banners .box-banner,
  .home-end-prat-banners .box-banner {
    margin-bottom: 15px;
  }
}

.home-middle-half-banners .box-banner img,
.home-end-prat-banners .box-banner img {
  width: 100%;
  height: auto;
  padding: 49px 0px 0px 0px;
}

.home-middle-half-banners .shelf h2,
.home-end-prat-banners .shelf h2 {
  margin-top: 0;
}

@media screen and (max-width: 1025px) {

  .home-middle-half-banners .shelf h2,
  .home-end-prat-banners .shelf h2 {
    text-align: center;
  }
}

.home-middle-half-banners .shelf ul,
.home-end-prat-banners .shelf ul {
  display: flex;
  justify-content: center;
}

.home-middle-half-banners .shelf ul li,
.home-end-prat-banners .shelf ul li {
  width: 50%;
}

@media screen and (max-width: 1025px) {

  .home-middle-half-banners .shelf article,
  .home-end-prat-banners .shelf article {
    height: auto;
  }
}

.home-middle-half-banners .shelf .shelf-image,
.home-end-prat-banners .shelf .shelf-image {
  height: auto;
}

.home-bottom-banner .box-banner {
  width: 100%;
  height: auto;
}

.home-bottom-banner .box-banner img {
  width: 100%;
  height: auto;
}

.home-end-prat-banners {
  margin-top: 60px;
}

.home-blog {
  margin-bottom: 40px;
}

@media screen and (max-width: 1025px) {
  .home-blog {
    margin-bottom: 0;
  }
}

.home-blog .title {
  text-align: center;
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin: 0px 0 45px;
}

.home-blog #blog-slide {
  padding: 0 15px;
}

@media screen and (max-width: 1025px) {
  .home-blog #blog-slide {
    display: block;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    margin-right: 0;
  }

  .home-blog #blog-slide .slick-list {
    overflow: visible;
  }
}

.home-blog figure {
  margin: 0;
}

.home-blog img {
  max-width: 100%;
  height: auto;
}

.home .prateleira_geral .shelf h2 {
  margin-top: 35px;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .home {

    .home-middle-half-banners,
    .home-end-prat-banners,
    .prateleira_geral {
      .shelf li article {
        margin: 0 2px;
      }

      .shelf li h3 {
        height: 50px !important;
        padding: 0 10px !important;
        font-size: 12px !important;
      }

      .shelf .shelf-price {
        padding: 0 10px !important;
        min-height: 40px;

        em {
          display: inline-block;
          font-size: 11px !important;
          -webkit-text-size-adjust: 100%;
        }

        .shelf-price-list {
          font-size: 13px;
          text-decoration: line-through;
          text-decoration-line: line-through;
        }
      }
    }

    .home-middle-half-banners {
      .shelf-price {
        min-height: 70px !important;

        .shelf-price-list {
          display: block;
          font-size: 13px;
          text-decoration: line-through;
          text-decoration-line: line-through;
        }
      }
    }

    .home-middle-half-banners,
    .home-end-prat-banners {
      margin-top: 10px !important;
    }

    .home-end-prat-banners .box-banner img,
    .home-middle-half-banners .box-banner img {
      padding: 0 !important;
    }

    .home-end-prat-banners,
    .prateleira_geral {
      .shelf-price {
        min-height: 50px !important;
      }

      .shelf-price strong {
        color: #ed1b24;
        padding: 5px 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: #fef200;

      }
    }
  }
}

.home .prateleira_geral .shelf ul {
  height: 550px;
  display: flex;
  justify-content: center;

  @media (max-width: 1025px) {
    height: auto;
    min-height: 320px;
  }
}

.home .prateleira_geral .shelf ul li {
  width: 25%;
}

.home .prateleira_geral .shelf ul li:hover article {
  height: 518px;

  @media (max-width: 1025px) {
    height: auto;
  }
}

@media screen and (max-width: 1025px) {
  .home .prateleira_geral .shelf ul li {
    height: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .home .prateleira_geral .shelf ul li img {
    width: 70%;
    height: auto;
    display: table;
    margin: 0 auto;
  }
}