.faq,
.institucional,
.interna {
    .barBox i {
        width: 40px;
        font-size: 30px;
        padding-top: 10px;
        color: #000
    }

    .barBox h3 {
        font-weight: 300;
        color: #000
    }

    .barBox p {
        margin-left: 45px;
        margin-top: -15px;
        font-size: 12px;
        color: #da5c54
    }

    .mainSize {
        padding-left: 1%;
        padding-right: 1%
    }


    .title .txt-title {
        display: inline-block;
        position: relative;
        bottom: -1px;
        font-size: 35px;
        letter-spacing: -1px;
    }

    .atendimento ul {
        margin-left: 15px;
        padding: 15px;
    }

    .tipo-atendimento {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .atendimento a {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
    }

    .title {
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: capitalize;
        font-family: Lato, sans-serif;
    }
    
    .text_inst{
        p{
            &:last-child{
                margin: 37px 0;    
            }
        }
        
        a{
            color: #2C848A;
        }
        
        @media screen and (max-width:768px) {
            margin-bottom: 35px;
        }
    }

    .work_us{
        width: 100%;
        height: auto;
    }
    
    .mainSize,
    .wrp-main-banner {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto
    }

    .aside-title {
        color: #7b0000;
        margin-bottom: 5px;
        font-size: 22px;
        text-transform: uppercase;
    }

    .lnk-option {
        color: #000;
        display: inline-block;
        font-size: 14px;
        padding: 3px 0;
        
        &.active{
            font-weight: 700;
        }
    }

    .aside-title .txt-aside-title {
        display: inline-block;
        padding: 0 !important;
        font-size: 18px !important;
        position: relative;
        text-transform: capitalize !important;
        color: black;
        font-weight: 700;
    }
}

/* seja-um-Franqueado*/
.sobre-franquia {
    max-width: 1440px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.sobre-franquia .title {
    width: 100%;
    margin: 30px 0 50px 0;
}

.sobre-franquia .title .icone {
    width: 70px;
    position: relative;
    display: inline-block;
}

.sobre-franquia .title .icone img {
    width: 70%;
}

.sobre-franquia .title .sub-title {
    width: 60%;
    position: relative;
    display: inline-block;
    font-weight: 800;
    font-size: 26px;
    padding: 0px 0 0 0;
    margin: -10px 0 0 0;
    z-index: 2;
}

.sobre-franquia .title .txt-title {
    width: 60%;
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 800;
    margin: -10px 0px 0px 70px;
    font-size: 50px;
    z-index: 2;
}

.sobre-franquia .desc {
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.sobre-franquia .desc p {
    width: 30%;
    margin: 10px 0 0 70px;
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    display: block;
}

.sobre-franquia .img {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: -270px 5% 0;
    z-index: 1;
}

.sobre-franquia .chamada {
    width: 50%;
    position: relative;
    display: inline-block;
    margin: 10px 25%;
    border: 4px solid #e6e3e3;
    padding: 10px;
}

.sobre-franquia .chamada .title {
    margin: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.sobre-franquia .chamada .desc {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}

.form-franquia {
    background: #f5f4f2;
}

.form-franquia .title {
    width: 100%;
    margin: 30px 0 50px 0;
}

.form-franquia .title .icone {
    width: 70px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.form-franquia .title .icone img {
    width: 90%;
}

.form-franquia .title .sub-title {
    width: 60%;
    position: relative;
    display: inline-block;
    font-weight: 800;
    font-size: 26px;
    padding: 0px 0 0 0;
    margin: -10px 0 0 0;
    z-index: 2;
}

.form-franquia .title .txt-title {
    width: 60%;
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 800;
    margin: 0px 0px 0px 70px;
    font-size: 50px;
    z-index: 2;
}

.form-franquia p {
    margin: 70px 0 50px 70px;
    font-size: 16px;
}

.form-franquia p span {
    font-weight: 800;
}

.form-franquia form {
    margin-left: 70px;
}

.form-franquia input {
    border: 1px solid #dbdbdb;
    width: 90%;
}

.form-franquia .campo-franquia {
    width: 45%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.form-franquia #telefone_ddd {
    width: 8%;
}

.form-franquia #telefone {
    width: 81.5%;
}

.form-franquia #celular_ddd {
    width: 8%;
}

.form-franquia #celular {
    width: 81.5%;
}

.title-form {
    width: 85.6%;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-franquia .campo-franquia-endereco {
    width: 35%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.form-franquia .campo-franquia-cidade {
    width: 25%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.form-franquia .campo-franquia-estado {
    width: 35%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.form-franquia .campo-franquia-estado select {
    border: 1px solid #dbdbdb;
    width: 72%;
    padding: 10px;
}

.form-franquia #atua_ramo {
    border: 1px solid #dbdbdb;
    width: 90%;
}

.form-franquia #possui_ponto {
    border: 1px solid #dbdbdb;
    width: 90%;
}

.form-franquia #comentario {
    border: 1px solid #dbdbdb;
    width: 85.6%;
    padding: 10px;
}

.form-franquia .campos-obrigatorios {
    width: 100%;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

.form-franquia .enviar {
    background: #D91E25;
    border: 2px solid #D91E25;
    color: #fff;
    padding: 5px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 30px;
    
    &:hover {
        background: #fff;
        border: 2px solid #D91E25;
        color: #D91E25;
    }
    
    &.disable{
        pointer-events: none;
        opacity: 0.5
    }
}

.form-franquia #area-content {
    margin-bottom: 0px;
}



/* Quem Somos */
#quem-somos {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#quem-somos .title {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 50px 0 15px 0;
}

#quem-somos .sub-title {
    width: 90%;
    position: relative;
    display: inline-block;
    padding-left: 75px;
    font-weight: 800;
    font-size: 20px;
}

#quem-somos .title-principal {
    width: 90%;
    position: relative;
    display: inline-block;
    line-height: 55px;
    font-weight: 400;
    font-size: 40px;
    color: #000;
    margin-left: 10px;
}

#quem-somos .title-principal span {
    font-weight: 800;
}

#quem-somos .title-principal img {
    margin: -15px 0 0 0;
    width: 60px;
}

#quem-somos .desc-first {
    width: 100%;
    position: relative;
    display: inline-block;
}

#quem-somos .desc-first .text {
    width: 35%;
    position: relative;
    display: inline-block;
    padding-left: 80px;
    font-size: 15.5px;
    text-align: justify;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
}

#quem-somos .desc-first .text span {
    font-weight: 900;
}

#quem-somos .desc-faixa {
    width: 100%;
    position: relative;
    display: inline-block;
    background: #D91E25;
    margin: 30px 0;
}

#quem-somos .desc-faixa .line:first-child {
    width: 60%;
    position: relative;
    display: inline-block;
    padding-left: 80px;
    float: left;
}

#quem-somos .desc-faixa .line {
    width: 33.5%;
    position: relative;
    display: inline-block;
    float: right;
}

#quem-somos .desc-faixa .line:first-child .colunm:first-child {
    width: 45%;
    float: left;
    margin-right: 8%;
    padding: 8px 0;
}

#quem-somos .desc-faixa .line:first-child .colunm {
    width: 45%;
    float: right;
    margin-right: 0;
    padding: 8px 0;
    background: none;
}

#quem-somos .desc-faixa .line .colunm {
    width: 100%;
    float: right;
    padding: 20px 0;
    height: 280px;
    background: url(http://www.glasses4you.com.br/diniz/sobre/bg-presidente.jpg) no-repeat;
    background-size: 100% 100%;
}

#quem-somos .desc-faixa .line .colunm .nome-presidente {
    position: absolute;
    width: 250px;
    height: 380px;
    z-index: 1;
    right: 152px;
    top: -70px;
}

#quem-somos .desc-faixa .line .colunm .img-presidente {
    position: absolute;
    width: 250px;
    height: 380px;
    z-index: 1;
    right: 100px;
    top: -200px;
}

#quem-somos .desc-faixa .line .colunm .img-presidente img {
    width: 255px;
}

#quem-somos .desc-faixa .line .colunm .img-presidente span {
    text-align: right;
    width: 200px;
    float: right;
    font-style: italic;
}

#quem-somos .desc-faixa .line .colunm .mencionamento {
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    bottom: 15px;
    left: 40px;
}

#quem-somos .desc-faixa .line .colunm .mencionamento .aspas-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: -45px;
    left: -25px;
    background: url(http://www.glasses4you.com.br/diniz/sobre/aspas-1.png) no-repeat;
    background-size: 100%;
}

#quem-somos .desc-faixa .line .colunm .mencionamento .aspas-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    bottom: -15px;
    left: 200px;
    background: url(http://www.glasses4you.com.br/diniz/sobre/aspas-2.png) no-repeat;
    background-size: 100%;
}

#quem-somos .desc-faixa .line .colunm .mencionamento p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

#quem-somos .desc-faixa p {
    color: #fff;
    font-size: 13.9px;
    text-align: justify;
    font-weight: 200
}

#quem-somos .desc-faixa p span {
    font-weight: 800;
}

#quem-somos .desc-sec {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 20px 0 50px 0;
}

#quem-somos .desc-sec .text {
    color: #000;
    width: 55%;
    margin-left: 70px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
}

#quem-somos .desc-sec .text span {
    font-weight: 800;
}

#quem-somos .desc-terc {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 20px 0 50px 0;
}

#quem-somos .desc-terc .line {
    width: 100%;
}

#quem-somos .desc-terc .colunm:first-child {
    width: 70px;
    position: relative;
    display: inline-block;
}

#quem-somos .desc-terc .colunm:first-child img {
    width: 80%;
    margin: -80px 0 0 10px;
}

#quem-somos .desc-terc .colunm {
    width: 80%;
    position: relative;
    display: inline-block;
}

#quem-somos .desc-terc .title-franchising {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #D91E25;
}

#quem-somos .desc-terc .title-franchising span {
    color: #000;
}

#quem-somos .desc-terc .text {
    color: #000;
    width: 67%;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
}

#quem-somos .desc-terc .text span {
    font-weight: 800;
}

#quem-somos .desc-quart {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 10px 0 50px 0;
}

#quem-somos .desc-quart .line {
    width: 90%;
    margin: 0px 5%;
}

#quem-somos .desc-quart .line .colunm {
    width: 30%;
    margin: 0px 0.5%;
    float: left;
    border: 1px solid #ccc;
    height: 271px;
    padding: 10px;
}

#quem-somos .desc-quart .line .colunm:first-child {
    width: 30%;
    margin: 0px 0.5% 0 0;
    float: left;
    border: 1px solid #ccc;
    height: 271px;
    padding: 10px;
}

#quem-somos .desc-quart .line .colunm .icone-missao {
    background: url(/arquivos/icon-missao.jpg) no-repeat;
    width: 70px;
    height: 70px;
    margin: -40px 0 0 20px;
}

#quem-somos .desc-quart .line .colunm .icone-visao {
    background: url(/arquivos/icon-visao.jpg) no-repeat;
    width: 80px;
    height: 80px;
    margin: -50px 0 0 20px;
}

#quem-somos .desc-quart .line .colunm .icone-valores {
    background: url(/arquivos/icon-valores.jpg) no-repeat;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 20px;
}

#quem-somos .desc-quart .line .colunm .title {
    width: 100%;
    position: relative;
    display: inline-block;
    /* margin:30px 0; */
    color: #000;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
}

#quem-somos .desc-quart .line .colunm .title span {
    border-bottom: 1px solid #D91E25;
}

#quem-somos .desc-quart .line .colunm .descricao {
    text-align: justify;
    border-bottom: 0px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.campanhas {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.campanhas .title {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 50px 0 15px 0;
}

.campanhas .title .icone img {
    width: 50px;
    margin-left: 5px;
}

.campanhas .title .sub-title {
    width: 90%;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #D91E25;
    
    @media screen and (max-width:768px) {
        width: 80%;
        margin-bottom: 15px;
    }
}

.campanhas .title .txt-title {
    font-weight: 800;
    color: #000;
    margin: -10px 0px 30px 70px;
    
    @media screen and (max-width:768px) {
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }
}

.campanhas .title-principal {
    width: 90%;
    position: relative;
    display: inline-block;
    line-height: 55px;
    font-weight: 400;
    font-size: 40px;
    color: #000;
    margin-left: 10px;
}

.campanhas .title-principal span {
    font-weight: 800;
}

.campanhas .title-principal img {
    margin: -15px 0 0 0;
    width: 60px;
}

.campanhas .desc-first {
    width: 100%;
    position: relative;
    display: inline-block;
}

.campanhas .desc-first .text {
    width: 35%;
    position: relative;
    display: inline-block;
    padding-left: 80px;
    font-size: 16px;
    text-align: justify;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    
    @media screen and (max-width: 768px){
        width: 95%;
        padding-left: 12px;
    }
}

.campanhas .desc-principal {
    width: 100%;
    position: relative;
    display: inline-block;
    background: #f5f4f2;
    margin: 30px 0;
    height: 285px;
}

.campanhas .desc-principal .row {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

.campanhas .desc-principal .row .banner {
    position: absolute;
    top: 370px;
    text-align: center;
    width: 100%;
    
    @media screen and (max-width: 768px){
        top: 0px;
    }
}

.campanhas .desc-principal .row .banner img {
    width: 90%;
}

.campanhas .desc-principal .colunm-desc {
    width: 20%;
    position: absolute;
    margin-left: 80px;
    
    @media screen and (max-width: 768px){
        width: 100%;
        position: initial;
        margin: 0;
    }

}

.campanhas .desc-principal .colunm-desc .title {
    width: 70%;
    position: relative;
    display: inline-block;
    font-size: 35px;
    line-height: 30px;
    color: #000;
    font-weight: 300;
    
    @media screen and (max-width: 768px){
        width: 100%;
        line-height: 36px;
    }
}

.campanhas .desc-principal .colunm-desc .line {
    width: 70px;
    height: 1px;
    background: #000;
    margin-top: 40px;
    position: absolute;
}

.campanhas .desc-principal .colunm-desc .title strong {
    font-weight: 800;
}

.campanhas .desc-principal .colunm-desc .sub-descricao {
    font-size: 13px;
    color: #000;
    text-align: justify;
}

.campanhas .desc-principal .colunm-video {
    width: 70%;
    position: absolute;
    text-align: center;
    height: 300px;
    right: 0px;
    
    @media screen and (max-width: 768px){
        width: 100%;
        position: initial;
    }
}

.campanhas .desc-principal .colunm-video .preview-video-principal {
    cursor: pointer;
    width: 480px;
    /* margin:-90px auto; */
    position: absolute;
    top: -50px;
    left: 225px;
    -webkit-box-shadow: 0px 30px 24px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 30px 24px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 30px 24px -18px rgba(0, 0, 0, 0.75);
    height: 360px;
    z-index: 5;
}

.campanhas .desc-principal .colunm-video .preview-video-principal .icon-player {
    width: 80px;
    height: 80px;
    background: url(http://www.glasses4you.com.br/diniz/campanhas/play-tube-g.png) no-repeat;
    background-size: 80% 100%;
    margin-top: -225px;
    cursor: pointer;
}

.campanhas .desc-principal .colunm-video .iframe-yt {
    width: 480px;
    margin: -90px auto;
    position: absolute;
    top: 60px;
    left: 225px;
    z-index: 3;
    
    @media screen and (max-width: 768px){
        width: 100%;
        position: initial;
        margin: 30px auto;
    }
}

.campanhas .desc-assistatambem {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
}

.campanhas .desc-assistatambem .row {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

.campanhas .desc-assistatambem .row .title {
    color: #000;
    font-size: 14px;
    margin-left: 70px;
    font-weight: 800;
    border-bottom: 1px solid #000;
    width: 120px;
}

.campanhas .slider {
    margin: 10px 5%;
}

.campanhas #go-right {
    position: absolute;
    right: 40px;
    margin-top: 255px;
    font-size: 50px;
    background: #fff;
    color: #D91E25;
}

.campanhas #go-left {
    position: absolute;
    left: 30px;
    margin-top: 255px;
    font-size: 50px;
    background: #fff;
    color: #D91E25;
}

.campanhas .slider .margin-videos {
    padding: 10px 10px;
    height: 450px;
}

.campanhas .slider .margin-videos .title-video {
    font-size: 17px;
    position: absolute;
    margin-top: 285px;
    text-transform: uppercase;
    font-weight: 800;
    width: 280px;
    text-align: left;
    color: #000;
}

.campanhas .slider .margin-videos .img-video0 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video1 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video2 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video3 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video4 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video5 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video6 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .img-video7 {
    position: absolute;
    width: 280px;
    z-index: 7;
    /* margin-top:20px; */
    cursor: pointer;
}

.campanhas .slider .margin-videos .iframe-video {
    position: absolute;
    width: 280px;
    z-index: 6;
    /* margin-top:20px; */
}

.campanhas .slider .margin-videos .descricao-video {
    font-size: 15px;
    position: absolute;
    margin-top: 330px;
    font-size: 12px;
    text-align: justify;
    color: #000;
}

.campanhas .slider .margin-videos .views-video {
    position: absolute;
    margin-top: 240px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D91E25;
    color: #000;
}

.campanhas .slider .margin-videos a .btn-video {
    position: absolute;
    margin-top: 400px;
    padding: 5px;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    color: #000;
}

.campanhas .slider .margin-videos a .btn-video:hover {
    font-weight: 800;
    background: #ccc;
}

.campanhas .slider .margin-videos .icon-player2 {
    width: 60px;
    height: 60px;
    background: url(http://www.glasses4you.com.br/diniz/campanhas/play-tube-p.png) no-repeat;
    background-size: 70% 80%;
    margin-top: -130px;
    margin-left: 110px;
    cursor: pointer;
}


/* Responsivo */
@media(max-width:1015px) {
    .sobre-franquia .title {
        width: 100%;
        margin: 30px 0 10px 0;
    }

    .sobre-franquia .title .sub-title {
        width: 80%;
        position: relative;
        display: inline-block;
        font-weight: 800;
        font-size: 15px;
        padding: 0px 0 0 0;
        margin: -116px 0 0 70px;
        z-index: 2;
    }

    .sobre-franquia .title .txt-title {
        width: 80%;
        position: relative;
        display: inline-block;
        color: #000;
        font-weight: 800;
        font-size: 30px;
        z-index: 2;
    }

    .sobre-franquia .desc p {
        width: 90%;
        margin: 10px 0 0 10px;
    }

    .sobre-franquia .img {
        width: 100%;
        position: relative;
        display: inline-block;
        margin: 0px 2% 0;
        z-index: 1;
    }

    .sobre-franquia .chamada {
        width: 85%;
        margin: 10px 5%;
    }

    #area-content {
        top: 0px;
        margin: 0;
        padding-left: 0px;
    }

    .sobre-franquia {
        width: 100%!important;
        position: relative;
        display: inline-block;
    }

    .wrp-franquia {
        width: 100%;
        margin: 0;
    }

    .wrp-content {
        width: 100%;
    }

    .formulario-franquia {
        float: left!important;
        width: 100%!important;
    }

    .form-franquia p {
        margin: 10px 0 40px 0px;
        font-size: 13px;
        text-align: center;
        width: 100%
    }

    .form-franquia form {
        margin-left: 0;
    }

    .form-franquia .title .sub-title {
        width: 100%;
        font-size: 15px;
        margin: 0px 0 0 0;
        text-align: center;
    }

    .form-franquia .title .txt-title {
        width: 61%;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
    }

    .form-franquia .campo-franquia {
        width: 100%;
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
    }

    .form-franquia #telefone_ddd {
        width: 15%;
    }

    .form-franquia #telefone {
        width: 74.5%;
    }

    .form-franquia #celular_ddd {
        width: 15%;
    }

    .form-franquia #celular {
        width: 74.5%;
    }

    .title-form {
        width: 90%;
    }

    .form-franquia .title {
        margin: 30px 0 30px 0;
    }

    .form-franquia .campo-franquia-endereco {
        width: 100%;
    }

    .form-franquia .campo-franquia-cidade {
        width: 100%;
    }

    .form-franquia .campo-franquia-estado {
        width: 100%;
    }

    .form-franquia .campo-franquia-estado select {
        width: 90%;
    }

    .form-franquia #comentario {
        width: 90%;
    }

    .campo-franquia button {
        margin-left: 0;
    }

    .form-franquia .campos-obrigatorios {
        width: 90%;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
    }

    .form-franquia .enviar {
        margin-left: 15px;
    }

}

@media (max-width: 800px) {
    #quem-somos .desc-first .text {
        width: 80%;
        margin: 0px 10%;
        padding-left: 0px;
    }

    #quem-somos .desc-sec .text {
        width: 80%;
        margin: 0px 10%;
    }

    #quem-somos .desc-terc .colunm:first-child img {
        margin: 0 0 140px 10px;
    }

    #quem-somos .desc-terc .text {
        width: 80%;
    }

    #quem-somos .desc-terc .colunm:first-child {
        width: 50px;
    }

    #quem-somos .desc-quart .line .colunm {
        width: 85%;
        margin: 0 5% 50px;
    }

    #quem-somos .desc-quart .line .colunm:first-child {
        width: 85%;
        margin: 0 5% 50px;
    }

    #quem-somos .desc-faixa .line:first-child {
        width: 90%;
        padding: 0px 5%;
        float: left;
    }

    #quem-somos .desc-faixa .line:first-child .colunm:first-child {
        width: 100%;
        padding: 20px 0 10px;
    }

    #quem-somos .desc-faixa .line:first-child .colunm {
        width: 100%;
        padding: 10px 0 10px;
        background: none;
    }

    #quem-somos .desc-faixa .line .colunm .nome-presidente {
        top: -100px;
        color: #fff;
    }

    #quem-somos .desc-faixa .line .colunm .img-presidente {
        top: -75px;
        right: 20;
        
        @media (max-width: 768px) {
            top: -15px;
        }
    }

    #quem-somos .desc-faixa .line .colunm .mencionamento {
        bottom: 0px;
        left: -180px;
        background: #D91e25;
        width: 200px;
        height: 80px;
        padding: 20px;
    }

    #quem-somos .desc-faixa .line .colunm {
        background: none;
    }

}

#area-content:after {
    content: '';
    display: block;
    clear: both;
}

#area-content {
    /*max-width: 1170px;*/
    margin: 20px auto 80px auto;
    padding-left: 285px;
}

#area-content .content {
    float: right;
    width: 100%;
    font-size: 14px;
}

#area-content .aside {
    float: left;
    margin-left: -285px;
    width: 205px;
    background-color: #F9F9F9;
    
    .wrp-aside-menu{
        padding: 0 15px;
        
        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .mobile-aside-menu{
        display: none;
        
        select{
            width: 100%;
            background-color: #F9F9F9;
            
            option{
                background-color: #F9F9F9;
                
                &.active{
                    font-weight: 700;
                }
            }
        }
        
        @media (max-width: 768px) {
            display: block;
        }
    }
    
    @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
        float: none;
    }
}

.lojas-interna #area-content {
    padding-left: 0px;
}


.lojas-interna header+.mainSize {
    margin: 150px 0 0;
}

.lojaModelo h1 {
    font-size: 32px !important;
    color: #d91e25 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lojaModelo {}

.lojaModelo .boxInfo {
    background-color: #FFFFFF;
}

.lojaModelo .boxInfo img {
    width: 40%;
    float: left;
    margin-right: 30px;
}

.lojaModelo .info {
    float: left;
    width: 50%;
}

.lojaModelo .info span {
    display: block;
    margin-bottom: 20px;
    min-height: 30px;
    font-size: 17px;
    padding-left: 40px;
    background-image: url(http://static-glasses4you.bseller.com.br/oticasdiniz/assets/images/iconsLoja.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px auto;
}

.lojaModelo .info .tel {
    font-size: 24px;
    font-weight: bold;
    background-position: -10px -10px;
}

.lojaModelo .info .endereco {
    background-position: -10px -55px;
}

.lojaModelo .info .horarios {
    background-position: -10px -105px;
}

.lojaModelo .info p {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #DDDDDD;
}

.lojaModelo .mapa {
    display: block;
}

.lojaModelo .mapa h1 {
    width: 98%;
    padding-left: 2%;
    font-size: 18px !important;
    background-color: #d91e25;
    color: #FFFFFF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left !important;
    margin-top: 100px;
}





[data-required]:before {
    content: "*";
}

.info-atendimento {
    margin: 10px 0 20px;
}

.info-atendimento .tx {
    display: block;
    margin-bottom: 3px;
}

.lst-cf {
    margin: 0;
}

.it-cf {
    margin: 10px 20px 10px 0px;
    float: left;
}

.it-cf:first-child {
    float: none;
}

.it-cf:last-child {
    float: none;
    clear: left;
}

.it-cf .lbl {
    display: block;
    margin-bottom: 5px;
}

#message {
    width: 658px;
}

.ipt.error {
    border-color: #EC7474;
}

label {
    display: inline-block;
}

label.error {
    color: #EC7474;
    display: block;
    margin: 2px 0;
}

.bts {
    padding-bottom: 20px;
}

#reqSend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 206px;
    border-radius: 0;
    background: #D91E25 !important;
    font-size: 18px;
    padding: 5px;
    line-height: 30px;
}

/*BRASOLIN*/
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border: 1px solid #dbdbdb;
    text-indent: 10px;
    height: 40px;
}

.our-stores #searchText {
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.our-stores .reset {
    padding: 7px;
    color: #aaa;
}

.our-stores .bt {
    color: #000;
    text-decoration: underline;
}

.our-stores .it-store-addr {
    padding: 10px;
    background: #f4f4f4;
    margin: 5px;
    width: 32%;
    min-width: 250px;
    min-height: 120px;
    vertical-align: top;
    display: inline-block;
}

.our-stores .store-name {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}

.our-stores .storycontent {
    overflow: hidden;
    padding-bottom: 10px !important;
}


.boxSobre {
    width: 24%;
    float: left;
    background-color: #FFFFFF;
    border: solid thin #EAEAEA;
    height: 330px;
    padding: 3%;
    margin-right: 3%;
    text-align: center;
    margin-top: 60px;
}



.missao,
.visao,
.valores {
    background-image: url(http://static-glasses4you.bseller.com.br/oticasdiniz/assets/images/iconMissao.png);
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-size: 120px;
}

.visao {
    background-image: url(http://static-glasses4you.bseller.com.br/oticasdiniz/assets/images/iconVisao.png?v1);
    background-position: top 60px center;
    background-size: 130px;
}

.valores {
    background-image: url(http://static-glasses4you.bseller.com.br/oticasdiniz/assets/images/iconValores.png?v1);
    background-position: top 60px center;
    background-size: 120px;
}


.boxSobre .title {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 130px;
}

.boxSobre p,
.boxSobre li {
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    text-align: center !important;
    list-style: none !important;
}


.fotoSobre {
    width: 240px;
    padding: 20px;
    padding-top: 450px;
    height: 10px;
    float: right;
    background-color: #FFFFFF;
    margin-left: 30px;
    background-image: url(http://static-glasses4you.bseller.com.br/oticasdiniz/assets/images/arione_diniz.jpg?v2);
    background-size: 230px auto;
    background-position: top 20px center;
    background-repeat: no-repeat;
    text-align: right;
}

.fotoSobre .legenda {
    font-size: 11px;
    width: 100%;
    background-color: #FFF;
    display: block;
    line-height: 30px;
}

.atendimento.fisica{
    ul{
        li{
            list-style-type: none;
            margin-bottom: 12px;
        }
    }
}


@media (max-width: 1024px) {
    .boxSobre {
        width: 92%;
        margin-top: 30px;
        padding-top: 40px;
    }

    #area-content {
        top: -87px;
        position: relative;
    }

}

@media (max-width: 768px) {
    #area-content {
        padding: 0 10px;
        margin-top: 0;
        top: -130px;
    }

    .it-cf {
        float: none;
    }

    #message {
        width: 100%
    }

    .it-cf .ipt {
        width: 100%;
    }

    .it-cf label {
        width: 300px;
    }

    #reqSend {
        width: 300px;
        background: #000;
        padding: 7px;
        font-size: 14px;
    }

    .our-stores .it-store-addr {
        display: block;
        width: 100%;
    }

    .our-stores #searchText {
        width: 125px;
        font-size: 12px;
    }

    .lojaModelo .boxInfo img {
        width: 100%;
    }

    .lojaModelo .info {
        width: 100%;
        margin-top: 20px;
    }

    .lojaModelo .info span {
        font-size: 15px;
    }

    .lojaModelo .info .tel {
        font-size: 22px;
    }

    .fotoSobre {
        width: 200px;
        padding: 20px;
        padding-top: 250px;
        height: 10px;
        float: right;
    }

    .pgPromocoes .info {
        width: 100% !important;
    }

    .pgPromocoes .voucher {
        width: 100% !important;
    }

    .barBox,
    .meio {
        min-width: 100%
    }

    .barBox {
        text-align: center!important;
    }
}

@media (max-width: 700px) {
    #area-content {
        position: relative;
        top: 0;
    }

    .sobre-franquia img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .sobre-franquia span {
        margin-top: 30px;
        display: block;
    }

    .sobre-franquia {
        float: left;
        width: 48%;
    }

    .formulario-franquia {
        float: right;
        width: 48%;
    }

    .wrp-franquia {
        width: 100%;
        margin: 0px 25px 0px 25px;
    }

    .formulario-franquia label {
        display: inline-block;
        width: 130px;
        text-align: right;
    }

    .campo-franquia {
        display: block;
        margin-bottom: 10px;
    }

    .sobre-franquia h2.title {
        margin-bottom: 0px;
    }

    .campo-franquia button {
        width: 200px;
        font-weight: 400;
        background: #d91e25 none repeat scroll 0% 0%;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        text-indent: 0px;
        height: 40px;
        margin-left: 130px;
    }

    .wrp-content p {
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
    }

    .wrp-content {
        width: 95%;
    }

    .lista li {
        list-style: square;
        margin-left: 25px;
    }
    
    
    .wrp-content li {
        list-style: square;
        font-size: 14px;
        line-height: 24px;
        margin-left: 25px;
    }

    .wrp-content ul {
        margin-bottom: 15px;
    }

    .pgPromocoes .box {
        width: 100%;
        display: table;
    }

    .pgPromocoes .info {
        width: 40%;
        font-size: 18px;
        line-height: 1.5;
        float: left;
    }

    .pgPromocoes .voucher {
        width: 55%;
        float: right;
    }

    .pgPromocoes .regras {
        font-size: 11px;
        margin-top: 25px;
    }

    .pgPromocoes h1 {
        margin-top: 25px;
        font-size: 30px !important;
        color: #DF2027 !important;
    }

    .pgPromocoes .imprimir {
        font-weight: 600;
        text-align: left;
        margin-top: 25px;
    }
}

.barBox,
.barPai {
    min-height: 60px;
}

.barBox,
.barBox h3,
.barPai,
.meio {
    display: inline-block;
}

.barBox {
    vertical-align: top;
    position: relative;
    text-align: left;
    width: 48%;
    max-height: 60px
}

.barPai {
    margin-top: 10px;
    position: relative;
    min-width: 100%
}

.meio {
    position: relative;
    min-width: 48%
}


.barBox i {
    width: 40px;
    font-size: 30px;
    padding-top: 10px;
    color: #000
}

.barBox h3 {
    font-weight: 300;
    color: #000
}

.barBox p {
    margin-top: -15px;
    font-size: 12px;
    color: #da5c54
}

// formulários loja fisica e virtual

#formContatoLoja,
#formContatoLojaFisica{

    .col-form{
        width: 80%;
        
        label{
            width:100%;
            text-transform:uppercase;
        }
        
        input{
            width:100%;
        }
        
        textarea{
            width:100%;
        }
        
        select{
            width:100%;
        }
        
        p{
            text-align:center;
        }
            
        
        button{
            width: 98%; 
            margin:0 9px; 
            padding:10px 0; 
            font-family: 'Open Sans', sans-serif;  
            font-weight: 300;
            border-radius: 0;   
            background: #D91E25 !important;  
            font-size: 18px;   
            padding: 5px;   
            line-height: 30px;
            color:#fff;
            
            &.disable{
                pointer-events: none;
                opacity: 0.5
            }
        }
            
        @media (max-width: 798px) {
            width: 100%;
            padding: 0 10px;
        }
    }

}