.shelf {
    ul {
        &:not(.slick-slider) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    li {
        float: left;
        height: 460px;
        margin: 0 5px 60px;
        position: relative;
        width: calc(100% / 4 - 10px);

        @media screen and (max-width: 810px) {
            width: 100%;
            height: auto;
            margin: 0 0 8px;
            border-bottom: 1px solid #dcdcdc;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        h3 {
            height: 60px;
            margin-top: 0;
            font-size: 18px;
            font-weight: 300;
            line-height: 19px;

            @media screen and (max-width: $mobile) {
                height: 80px;
            }

            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }

        &:hover {
            z-index: 10;

            article {
                height: 521px;

                @media screen and (max-width: $mobile) {
                    height: auto;
                }
            }

            .buy-button-normal {
                @media screen and (min-width: $mobile) {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    article {
        padding: 5px;
        height: 480px;
        position: relative;
        transition: all 300ms;
        background-color: white;
        border: 1px solid #dcdcdc;

        @media screen and (min-width: $mobile) {
            text-align: center;
        }

        @media screen and (max-width: $mobile) {
            height: auto;
        }

        .list_flags {
            display: block;

            .flag {
                font-size: 0;

                &.red-friday-20-,
                &.red-friday-40-,
                &.red-friday-70- {
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 120px;
                    height: 48px;
                    background-size: 100%;
                    background-color: red;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &.red-friday-20- {
                    background-image: url(/arquivos/tag20.png);
                }

                &.red-friday-40- {
                    background-image: url(/arquivos/tag20.png);
                }

                &.red-friday-70- {
                    background-image: url(/arquivos/tag20.png);
                }

                &.carnaval-diniz-oculos-folia {
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 65px;
                    height: 65px;
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('/arquivos/selo100.png');

                    @media screen and (max-width: $mobile) {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
    }

    .shelf {
        &-image {
            height: 300px;

            @media screen and (max-width: $mobile) {
                height: auto;
            }
        }

        &-price {
            margin-top: 10px;

            @media screen and (max-width: $mobile) {
                padding: 0 10px;
                text-align: left;
            }

            .shelf-price-best {
                margin: 5px 0;
                color: #ed1b24;
                padding: 5px 10px;
                border-radius: 10px;
                display: inline-block;
                background-color: #fef200;
            }

            .shelf-price-list {
                display: block;
                font-size: 13px;
                text-decoration: line-through;
            }

            .shelf-installment {
                color: #666;
                display: block;
                font-style: normal;
                
                @media screen and (max-width: $mobile) {
                    font-size: 13px;
                    line-height: 13px;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 12px;
                }
            }
        }
    }

    .buy-button-normal {
        width: 100%;
        padding: 10px;
        text-transform: uppercase;

        @media screen and (min-width:$mobile) {
            position: absolute;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms;
        }

        a {
            font-size: 0;
            height: 40px;
            color: white;
            display: block;
            line-height: 40px;
            text-align: center;
            width: calc(100% - 10px);
            background-color: $cor-cta;

            &:after {
                font-size: 14px;
                content: 'Adicionar ao Carrinho';

                @media screen and (max-width:$mobile) {
                    font-size: 10px;
                }
            }

            @media screen and (max-width:$mobile) {
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    .btn-load-more {
        border: 1px solid #ccc;
        margin: 40px 0;
        text-align: center;
        line-height: 40px;
        height: 40px;
    }

    @media screen and (max-width: $mobile) {
        li {
            width: calc(100% / 3 - 10px);
            display: inline-block;

            h3 {
                font-size: 13px !important;
            }

            .columns {
                flex-wrap: wrap;

                .column.column_1,
                .column.column_2 {
                    width: 100% !important;
                }
            }

            &:hover article {
                height: 100%;
            }

        }

        article {
            height: 100%;
            padding-bottom: 65px;

            .outOfStock {
                font-size: 14px !important;
                padding: 10px !important;
            }

            .shelf-price {
                min-height: auto;
            }

            .buy-button-normal {
                visibility: initial;
                opacity: 1;
            }

            .buy-button-normal {
                left: 0;
                bottom: 0;
                position: absolute;
                display: block !important;
            }
        }
    }

    @media screen and (max-width: 560px) {
        .shelf {
            li {
                width: 50%;
            }
        }
    }
}

.shelf-together {
    ul {
        display: flex;
        margin-top: 0;
        align-items: center;

        @media screen and (min-width:$mobile) {
            justify-content: space-between;
        }

        @media screen and (max-width:$mobile) {
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-bottom: 10px;
            margin-right: -15px;
            justify-content: initial;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .icon {
            color: #000;
            margin: 0 25px;
            font-size: 30px;
            font-weight: bold;
            font-style: normal;
        }

        li {
            @media screen and (max-width:$mobile) {
                width: 250px;
                flex: 0 0 auto;
                margin-right: 10px;
            }

            article {
                padding: 15px;
                text-align: center;
                position: relative;
                border: 1px solid #dcdcdc;

                .shelf-image {
                    img {
                        height: auto;
                        max-width: 100%;
                    }
                }

                h3 {
                    height: 60px;
                    margin-top: 0;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 19px;
                }

                .shelf-price {
                    .shelf-price-best {
                        display: block;
                    }

                    .shelf-installment {
                        font-style: normal;
                        color: gray;
                        font-size: 14px;
                    }
                }

                .add_buy_together {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    color: $cor-cta;
                    font-size: 18px;
                    line-height: 40px;
                    align-items: center;
                    transition: all .3s;
                    letter-spacing: 2px;
                    margin: 15px auto 0;
                    justify-content: center;
                    background-color: #fff;
                    text-transform: uppercase;
                    border: 1px solid $cor-cta;
                    box-shadow: 0 4px 4px rgba(81, 178, 131, .2);

                    &:hover {
                        color: #fff;
                        background-color: $cor-cta;
                    }

                    &.active {
                        color: #fff;
                        pointer-events: none;
                        background-color: $cor-cta;

                        &:before {
                            content: '';
                            width: 10px;
                            height: 15px;
                            display: block;
                            margin-top: -4px;
                            margin-right: 10px;
                            transform: rotate(45deg);
                            border-right: 2px solid white;
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
        }
    }
}