* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: $font-principal;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input[value="Aguarde..."] {
    opacity: 0.3;
    pointer-events: none;
}

.dis-none {
    display: none;
}

.text-center {
    text-align: center;
}

.sprite-ico-lupa:before {
    position: absolute;
    background-image: url(/arquivos/sprite.png);
    background-position: -98px -64px;
    width: 23px;
    height: 23px;
    content: "";
    left: -10px !important;
    top: -10px !important;
    filter: invert(1);
}

.ui-autocomplete {
    max-width: calc(217px);
    background-color: white;

    @media screen and (max-width: 959px) {
        max-width: calc(217px);
        background-color: #fff;
        width: 100% !important;
        max-width: 100%;
        left: 0 !important;
        padding: 10px;
    }

    li {
        border-bottom: 1px solid #ccc;
    }

    a {
        display: flex;
        max-height: 50px;
        overflow: hidden;
        padding: 5px;
        font-size: 14px;
        line-height: 1.5;
        height: 60px;
        overflow: hidden;

        img {
            width: 60px !important;
            height: auto !important;
            display: inline-block;
            margin-right: 5px;
        }
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#ajaxBusy {
    display: none !important;
}

.container {
    width: 100%;
    max-width: 1440px;
}

.mobile {
    display: none;

    @media screen and (max-width: $mobile) {
        display: block;
    }
}

.desktop {
    @media screen and (max-width: $mobile) {
        display: none;
    }
}