$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Lato', sans-serif;

$branco: #fff;
$cor-texto: #000;
$cor-cta: #51b283;
$cor-secundaria: #ffed00;
$cor-principal: #d91e25;
$cor-principal-escuro: #B51A20;

$mobile: 1025px;
$iphone5: 360px;
$tablet: 1024px;
$small-monitor: 1366px;
$tablet-landscape: 768px;