.sprite-ico-american {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-american:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px 0px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-boleto {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-boleto:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -29px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-buy {
	position: relative;
	min-width: 38px;
	min-height: 35px;
}
.sprite-ico-buy:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -98px -29px;
  width: 38px;
  height: 35px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-cart-color {
	position: relative;
	min-width: 23px;
	min-height: 21px;
}
.sprite-ico-cart-color:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -121px -64px;
  width: 23px;
  height: 21px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-cart {
	position: relative;
	min-width: 19px;
	min-height: 18px;
}
.sprite-ico-cart:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -22px -87px;
  width: 19px;
  height: 18px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-cel {
	position: relative;
	min-width: 10px;
	min-height: 15px;
}
.sprite-ico-cel:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -136px -45px;
  width: 10px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-diners {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-diners:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -49px -29px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-elo {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-elo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -58px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-hipercard {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-hipercard:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -49px -58px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-lupa {
	position: relative;
	min-width: 23px;
	min-height: 23px;
}
.sprite-ico-lupa:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -98px -64px;
  width: 23px;
  height: 23px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-mail-blue {
	position: relative;
	min-width: 15px;
	min-height: 11px;
}
.sprite-ico-mail-blue:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -67px -106px;
  width: 15px;
  height: 11px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-mail {
	position: relative;
	min-width: 15px;
	min-height: 12px;
}
.sprite-ico-mail:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -104px -87px;
  width: 15px;
  height: 12px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-master {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-master:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -98px 0px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-mouse {
	position: relative;
	min-width: 12px;
	min-height: 19px;
}
.sprite-ico-mouse:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -106px;
  width: 12px;
  height: 19px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-pin {
	position: relative;
	min-width: 11px;
	min-height: 16px;
}
.sprite-ico-pin:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -136px -29px;
  width: 11px;
  height: 16px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-store {
	position: relative;
	min-width: 22px;
	min-height: 19px;
}
.sprite-ico-store:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -87px;
  width: 22px;
  height: 19px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-tel-blue {
	position: relative;
	min-width: 15px;
	min-height: 14px;
}
.sprite-ico-tel-blue:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -72px -87px;
  width: 15px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-tel-yellow {
	position: relative;
	min-width: 9px;
	min-height: 14px;
}
.sprite-ico-tel-yellow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -147px 0px;
  width: 9px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-tel {
	position: relative;
	min-width: 15px;
	min-height: 16px;
}
.sprite-ico-tel:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -41px -87px;
  width: 15px;
  height: 16px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-time {
	position: relative;
	min-width: 12px;
	min-height: 15px;
}
.sprite-ico-time:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -125px;
  width: 12px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-truck {
	position: relative;
	min-width: 17px;
	min-height: 12px;
}
.sprite-ico-truck:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -87px -87px;
  width: 17px;
  height: 12px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-visa {
	position: relative;
	min-width: 49px;
	min-height: 29px;
}
.sprite-ico-visa:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -49px 0px;
  width: 49px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-whats-green {
	position: relative;
	min-width: 13px;
	min-height: 12px;
}
.sprite-ico-whats-green:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -134px -87px;
  width: 13px;
  height: 12px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-whats-yellow {
	position: relative;
	min-width: 13px;
	min-height: 12px;
}
.sprite-ico-whats-yellow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -12px -125px;
  width: 13px;
  height: 12px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-whatsapp {
	position: relative;
	min-width: 14px;
	min-height: 14px;
}
.sprite-ico-whatsapp:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -12px -106px;
  width: 14px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tip-cartao {
	position: relative;
	min-width: 15px;
	min-height: 12px;
}
.sprite-tip-cartao:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -119px -87px;
  width: 15px;
  height: 12px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tip-checked {
	position: relative;
	min-width: 14px;
	min-height: 14px;
}
.sprite-tip-checked:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -26px -106px;
  width: 14px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tip-medalha {
	position: relative;
	min-width: 14px;
	min-height: 14px;
}
.sprite-tip-medalha:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -40px -106px;
  width: 14px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tip-smile {
	position: relative;
	min-width: 13px;
	min-height: 14px;
}
.sprite-tip-smile:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -54px -106px;
  width: 13px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tip-store {
	position: relative;
	min-width: 16px;
	min-height: 14px;
}
.sprite-tip-store:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -56px -87px;
  width: 16px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
