<div class="box-banner">
    <a href="/">
      <picture class="_w-100 _w-100 _h-auto _db">

        <!-- desktop -->
        <source srcset="BANNER DESKTOP" media="(min-width: 960px)" />

        <!-- mobile -->
        <source srcset="BANNER MOBILE" />

        <!-- desktop callback -->
        <img class="_w-100 _h-auto _db lazyImage" data-src="BANNER DESKTOP"
          alt="Texto Alt" />

      </picture>
    </a>
  </div>