<footer>
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <h3 class="footer-newsletter-title col-md-6">
                        Faça seu Cadastro
                        <small>Inscreva-se em nossa newsletter e receba 10% de desconto</small>
                    </h3>
                    <form action="" class="footer-newsletter-form col-md-6">
                        <input type="email" name="newsletter-mail" id="newsletter-mail" placeholder="Digite seu email" />
                        <button>cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="footer-main">
            <div class="container">
                <div class="row footer-main-nav">
                    <ul data-nav="compre-online" class="col-md-2">                        
                            <li class="footer-main-nav-title">Compre online</li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/oculos-de-sol">Óculos de Sol</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/oculos-de-grau">Óculos de Grau</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/ofertas">Outlet</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/login?ReturnUrl=%2f_secure%2faccount%2forders%2f">Meus Pedidos</a></li>                        
                    </ul>
                    <ul data-nav="institucional" class="col-md-2">                        
                            <li class="footer-main-nav-title">Institucional</li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/empresa">Sobre a Diniz</a></li>
                            <li class="footer-main-nav-item"><a href="http://www.blog.oticasdiniz.com.br/?utm_source=MENUUPSITE">Blog</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/seja-um-franqueado">Seja um Franqueado</a></li>
                            <li class="footer-main-nav-item"><a href="http://www.portaldiniz.com.br/intranet/login.htm">Portal Diniz</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/faq">Perguntas Frequentes</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/diniz-social">Diniz Social</a></li>                        
                    </ul>
                    <ul data-nav="informacoes" class="col-md-2">                        
                            <li class="footer-main-nav-title">Informações</li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/termos-de-uso">Termos de Uso</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/seguranca-e-privacidade">Segurança e Privacidade</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/formas-de-pagamento">Formas de Pagamento</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/compra-e-entrega">Compra e Entrega</a></li>
                            <li class="footer-main-nav-item"><a href="https://www.oticasdiniz.com.br/internas/trocas-e-devolucoes">Trocas e Devoluções</a></li>                        
                    </ul>
                    <ul data-nav="atendimento" class="col-md-2">                        
                            <li class="footer-main-nav-title">Atendimento</li>
                            <!--<li class="footer-main-nav-item">-->
                            <!--    Telefone-->
                            <!--    <a href="callto:00999999999"><small>00</small> 9 9999 9999</a>-->
                            <!--</li>-->
                            <li class="footer-main-nav-item">
                                Email
                                <a href="mailto:atendimentoweb@oticasdiniz.com.br">atendimentoweb@oticasdiniz.com.br</a>
                            </li>
                            <!--<li class="footer-main-nav-item"><small>Atendimento de Seg. à Sexta <br /> das 09:00 às 18:00</small></li>-->
                        
                    </ul>
                    <ul data-nav="social" class="col-md-3">
                            <li class="footer-main-nav-title">Siga a ótica diniz</li>
                            <li>
                                <a href="https://www.facebook.com/oficial.oticasdiniz/">
                                    <svg width="20" height="21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3 0H2.7A2.7 2.7 0 000 2.8v15c0 1.6 1.2 2.9 2.7 2.9h7.2v-7.4H8.1a.4.4 0 01-.5-.5v-2.3c0-.3.2-.5.4-.5H10V7.7c0-2.7 1.6-4.1 3.9-4.1h1.9c.2 0 .4.2.4.4v2c0 .3-.2.5-.4.5h-1.2C13.3 6.5 13 7 13 8v2h2.8c.2 0 .4.2.4.5l-.3 2.4c0 .2-.2.4-.4.4H13v7.4h4.3c1.5 0 2.7-1.3 2.7-2.8V2.8C20 1.2 18.8 0 17.3 0z" fill="#475993"/></svg>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--    <a href="">-->
                            <!--        <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 0H6a6 6 0 00-6 6v8a6 6 0 006 6h8a6 6 0 006-6V6a6 6 0 00-6-6zm4 14a4 4 0 01-4 4H6a4 4 0 01-4-4V6a4 4 0 014-4h8a4 4 0 014 4v8z" fill="url(#paint0_linear)"/><path d="M10 4.8a5.2 5.2 0 100 10.4 5.2 5.2 0 000-10.4zm0 8.4a3.2 3.2 0 110-6.4 3.2 3.2 0 010 6.4z" fill="url(#paint1_linear)"/><path d="M15.2 6.1a1.2 1.2 0 100-2.5 1.2 1.2 0 000 2.5z" fill="url(#paint2_linear)"/><defs><linearGradient id="paint0_linear" x1="10" y1="19.9" x2="10" y2=".2" gradientUnits="userSpaceOnUse"><stop stop-color="#E09B3D"/><stop offset=".3" stop-color="#C74C4D"/><stop offset=".6" stop-color="#C21975"/><stop offset="1" stop-color="#7024C4"/></linearGradient><linearGradient id="paint1_linear" x1="10" y1="19.9" x2="10" y2=".2" gradientUnits="userSpaceOnUse"><stop stop-color="#E09B3D"/><stop offset=".3" stop-color="#C74C4D"/><stop offset=".6" stop-color="#C21975"/><stop offset="1" stop-color="#7024C4"/></linearGradient><linearGradient id="paint2_linear" x1="15.2" y1="19.9" x2="15.2" y2=".2" gradientUnits="userSpaceOnUse"><stop stop-color="#E09B3D"/><stop offset=".3" stop-color="#C74C4D"/><stop offset=".6" stop-color="#C21975"/><stop offset="1" stop-color="#7024C4"/></linearGradient></defs></svg>-->
                            <!--    </a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://twitter.com/diniz_oticas">
                                    <svg width="22" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.7 2.1a9 9 0 01-1.6.5c.6-.5 1-1.2 1.3-2 0-.1-.2-.3-.4-.2a9 9 0 01-2.4 1l-.5-.2a4.9 4.9 0 00-4.6-1 4.5 4.5 0 00-3.2 5 .2.2 0 01-.2.1C6.7 5 3.7 3.5 1.6 1a.3.3 0 00-.4 0 4.4 4.4 0 00.7 5.6c-.4 0-.7-.2-1-.4-.2 0-.4 0-.4.2 0 1.8 1 3.5 2.7 4.2a4.3 4.3 0 01-.9 0c-.1 0-.3 0-.2.3.5 1.6 2 2.8 3.7 3A9 9 0 011 15.4H.4c-.2 0-.3 0-.4.2 0 .2 0 .4.2.4a13.7 13.7 0 0012.1.6 12.3 12.3 0 006.6-7c.6-1.4.9-3 .9-4.4 0-.3 0-.5.3-.7.7-.5 1.3-1.2 1.9-2 0-.1-.1-.4-.3-.3z" fill="#76A9EA"/></svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/oticasdinizoficial">
                                    <svg width="25" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8 0H5.2A5.3 5.3 0 000 5.5v7.7c0 3 2.3 5.4 5.2 5.4h14.6c2.9 0 5.2-2.4 5.2-5.4V5.5c0-3-2.3-5.5-5.2-5.5zm-3.5 9.7l-6.8 3.4c-.2.1-.4 0-.4-.2v-7c0-.3.2-.4.4-.4l6.8 3.7c.2.1.2.4 0 .5z" fill="#F61C0D"/></svg>
                                </a>
                            </li>
                        
                    </ul>
                </div>
                <div class="row footer-extra">
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-extra-title">Formas de Pagamento</li>
                            <li><svg width="40" height="31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3 30.8v-2c0-.8-.5-1.3-1.3-1.3-.4 0-.9.1-1.2.6-.2-.4-.6-.6-1.1-.6-.3 0-.7.1-1 .5v-.4H2v3.2h.8V29c0-.5.3-.8.7-.8.5 0 .8.3.8.8v1.8H5V29c0-.5.3-.8.8-.8.4 0 .7.3.7.8v1.8h.8zm10.6-3.2h-1.1v-1H16v1h-.6v.6h.6v1.5c0 .8.4 1.2 1.2 1.2.3 0 .6 0 .9-.2l-.2-.6-.7.1c-.3 0-.4-.2-.4-.5v-1.5h1.1v-.6zm6.1-.1a1 1 0 00-.8.5v-.4h-.7v3.2h.7V29c0-.6.2-.9.7-.9l.4.1.2-.7H24zm-9.2.3c-.3-.2-.8-.3-1.3-.3-.9 0-1.4.4-1.4 1s.4 1 1.1 1h.4c.3.1.5.2.5.4s-.2.4-.7.4c-.5 0-.9-.2-1.1-.4l-.3.6c.3.3.8.4 1.4.4 1 0 1.5-.5 1.5-1 0-.6-.5-1-1.2-1l-.3-.1c-.3 0-.5-.1-.5-.3 0-.2.2-.4.6-.4.4 0 .8.2 1 .3l.3-.6zm19.2-.3a1 1 0 00-1 .5v-.4h-.6v3.2h.7V29c0-.6.2-.9.7-.9l.4.1.2-.7H34zm-9.2 1.7c0 1 .7 1.7 1.7 1.7.5 0 .8 0 1.2-.4l-.4-.5c-.2.2-.5.3-.8.3-.6 0-1-.4-1-1 0-.7.4-1.1 1-1.1.3 0 .6 0 .8.3l.4-.6c-.4-.3-.7-.4-1.2-.4-1 0-1.7.7-1.7 1.7zm6.6 0v-1.6h-.7v.4c-.2-.3-.6-.5-1-.5-1 0-1.7.7-1.7 1.7s.8 1.7 1.7 1.7c.5 0 .8-.1 1-.5v.4h.7v-1.6zm-2.6 0c0-.6.4-1 1-1s1 .4 1 1-.4 1-1 1-1-.4-1-1zm-8.6-1.7c-1 0-1.7.7-1.7 1.7s.7 1.7 1.7 1.7c.5 0 1-.1 1.4-.4l-.4-.5c-.3.2-.6.3-1 .3s-.8-.2-1-.8h2.5v-.3c0-1-.6-1.7-1.5-1.7zm0 .6c.4 0 .7.3.8.8h-1.7c0-.5.4-.8.9-.8zM38 29.2v-3h-.7V28c-.2-.3-.5-.5-1-.5-1 0-1.6.7-1.6 1.7s.7 1.7 1.6 1.7c.5 0 .8-.1 1-.5v.4h.7v-1.6zm-2.6 0c0-.6.4-1 1-1s1 .4 1 1-.4 1-1 1a1 1 0 01-1-1zm-24 0v-1.6h-.8v.4c-.2-.3-.6-.5-1-.5-1 0-1.7.7-1.7 1.7S8.6 31 9.6 31c.4 0 .8-.1 1-.5v.4h.7v-1.6zm-2.8 0c0-.6.4-1 1-1s1 .4 1 1-.4 1-1 1-1-.4-1-1z" fill="#000"/><path d="M25.4 2.6H14.6V22h10.8V2.6z" fill="#FF5F00"/><path d="M15.3 12.3c0-4 1.8-7.4 4.7-9.7a12.3 12.3 0 00-20 9.7A12.3 12.3 0 0020 22a12.2 12.2 0 01-4.7-9.7z" fill="#EB001B"/><path d="M40 12.3A12.3 12.3 0 0120 22a12.3 12.3 0 000-19.4 12.3 12.3 0 0120 9.7z" fill="#F79E1B"/></svg></li>
                            <li><svg width="54" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8 15.5l2.7-15h4.3l-2.6 15h-4.4z" fill="#3C58BF"/><path d="M19.8 15.5l3.5-15h3.5l-2.6 15h-4.4z" fill="#293688"/><path d="M39.7.7c-.9-.3-2.2-.6-4-.6-4.2 0-7.3 2-7.3 5 0 2.3 2.1 3.4 3.8 4.2 1.7.7 2.3 1.2 2.3 1.9 0 1-1.4 1.5-2.6 1.5-1.7 0-2.7-.3-4.1-.8l-.6-.3-.6 3.4c1 .4 2.9.9 4.9.9 4.5 0 7.5-2.1 7.5-5.3 0-1.7-1.1-3-3.7-4.1-1.5-.8-2.5-1.2-2.5-2 0-.6.8-1.3 2.5-1.3a8 8 0 013.3.6l.4.2.7-3.3z" fill="#3C58BF"/><path d="M39.7.7c-.9-.3-2.2-.6-4-.6-4.2 0-6.6 2-6.6 5 0 2.3 1.4 3.4 3.1 4.2 1.7.7 2.3 1.2 2.3 1.9 0 1-1.4 1.5-2.6 1.5-1.7 0-2.7-.3-4.1-.8l-.6-.3-.6 3.4c1 .4 2.9.9 4.9.9 4.5 0 7.5-2.1 7.5-5.3 0-1.7-1.1-3-3.7-4.1-1.5-.8-2.5-1.2-2.5-2 0-.6.8-1.3 2.5-1.3a8 8 0 013.3.6l.4.2.7-3.3z" fill="#293688"/><path d="M47 .6c-1 0-1.7 0-2.2 1l-6.4 14H43L44 13h5.5l.5 2.5H54L50.4.5h-3.3zm-2 10L46.9 6l.6-1.5.3 1.4 1 4.6H45z" fill="#3C58BF"/><path d="M48 .6c-1 0-1.7 0-2.1 1l-7.5 14H43L44 13h5.5l.5 2.5H54L50.4.5h-2.3zm-3 10L46.9 6l.6-1.5.3 1.4 1 4.6H45z" fill="#293688"/><path d="M12 11L11.4 9c-.8-2.5-3.3-5.3-6-6.6l3.8 13.3H14l7-15h-4.7L11.9 11z" fill="#3C58BF"/><path d="M12 11L11.4 9c-.8-2.5-3.3-5.3-6-6.6l3.8 13.3H14l7-15H17L12 11z" fill="#293688"/><path d="M0 .6l.8.1C6.3 2 10 5.1 11.5 9l-1.6-7C9.7.8 9 .5 8 .5H0z" fill="#FFBC00"/><path d="M0 .6C5.5 1.8 10 5 11.5 8.8l-1.5-6a2 2 0 00-2-1.5L0 .6z" fill="#F7981D"/><path d="M0 .6C5.5 1.8 10 5 11.5 8.8l-1-3.3c-.3-1-.6-2-1.8-2.4L0 .6z" fill="#ED7C00"/><path d="M16.2 10.5l-3-2.8L12 11l-.3-2.1c-.8-2.5-3.3-5.2-6-6.6l3.8 13.3h4.7l2.1-5zM24.2 15.5L20.5 12l-.7 3.6h4.4zM34 10.4c.4.3.5.6.5.9 0 1-1.4 1.5-2.6 1.5-1.7 0-2.7-.3-4.1-.9l-.6-.2-.6 3.4c1 .4 2.9.8 4.9.8 2.7 0 5-.7 6.2-2L34 10.4zM39 15.5h4L44 13h5.5l.5 2.5H54l-1.5-6-5.1-4.9.3 1.4 1 4.5H45l1.7-4.4.6-1.5" fill="#051244"/></svg></li>
                            <li><svg width="44" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h5.5v27.8H0V0zm8.3 0H11v17.8H8.3V0zm5.5 0h2.7v17.8h-2.7V0zM22 0h2.8v17.8H22V0zm11 0h2.7v17.8H33V0zm8.3 0H44v27.8h-2.7V0zM27.5 0h1.4v17.8h-1.4V0zm-8.3 0h1.4v17.8h-1.4V0zm18 0h1.3v17.8h-1.4V0zM12.5 26l.6-.1.4-.3.3-.3a1.3 1.3 0 000-.9l-.3-.3a1 1 0 00-.4-.2h-1.9v2h1.3zm-1.3-5.2V23h1c.5 0 .8 0 1-.3.3-.1.4-.4.4-.7 0-.4 0-.7-.3-.8-.2-.2-.6-.3-1-.3h-1.2zm1.1-1l1.2.1.8.4c.3.2.4.4.5.6a2 2 0 010 1.3c0 .1 0 .3-.2.4 0 .2-.2.3-.3.4l-.6.3c1 .2 1.5.7 1.5 1.6 0 .3 0 .6-.2.8l-.5.7-.8.4-1.2.2H9.8v-7.2h2.5zm6 2c.5 0 .8 0 1.1.2a2.2 2.2 0 011.3 1.3c.2.4.2.7.2 1.1 0 .4 0 .8-.2 1.1 0 .4-.2.6-.5.9l-.8.5-1 .2c-.4 0-.7 0-1-.2a2.3 2.3 0 01-1.4-1.4l-.2-1 .2-1.2.5-.8.8-.5 1-.2zm0 4.3c.5 0 .8-.1 1-.4.2-.3.3-.7.3-1.3 0-.5 0-1-.3-1.2-.2-.3-.5-.5-1-.5-.3 0-.7.2-.9.5-.2.3-.3.7-.3 1.2 0 .6.1 1 .3 1.3.2.3.6.4 1 .4zm4.8-6.5V27H22v-7.4H23zm4.6 4.2l-.1-.4a1 1 0 00-.2-.4 1 1 0 00-.4-.2l-.4-.1c-.4 0-.7 0-.9.3l-.4.8h2.4zm-2.4.8l.1.7.3.4c.1.2.3.3.5.3l.5.1h.5l.4-.2.3-.2h.5l.3.5a2.1 2.1 0 01-1 .7 4 4 0 01-1.1.2c-.4 0-.7 0-1-.2a2.3 2.3 0 01-1.3-1.4 3.3 3.3 0 010-2.2c0-.3.2-.5.4-.8l.8-.5 1-.2 1 .1a2 2 0 011 1.2c.2.3.3.6.3 1l-.1.4H25.3zm6 2.5c-.4 0-.7-.1-1-.4-.2-.2-.3-.6-.3-1v-2.9h-.6-.1l-.1-.3V22h.8l.3-1.5v-.1l.3-.1h.6v1.6h1.4v.9h-1.4v2.8l.1.3.3.2a.6.6 0 00.4-.1H32.4l.4.6-.6.4h-.8zm4.3-5.3c.4 0 .7 0 1 .2a2.2 2.2 0 011.3 1.3c.2.4.2.7.2 1.1 0 .4 0 .8-.2 1.1 0 .4-.3.6-.5.9l-.8.5-1 .2c-.4 0-.7 0-1-.2a2.3 2.3 0 01-1.4-1.4l-.2-1 .2-1.2.5-.8.8-.5 1-.2zm0 4.3c.4 0 .7-.1 1-.4l.2-1.3c0-.5 0-1-.3-1.2-.2-.3-.5-.5-1-.5-.3 0-.7.2-.9.5-.2.3-.3.7-.3 1.2 0 .6.1 1 .3 1.3.2.3.6.4 1 .4z" fill="#000"/></svg></li>
                            <li><svg width="44" height="33" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M37.4 31.5v-.1h-.1l-.8.2c-.7 0-1.4-.6-1.4-1.4 0-1 .5-1.5 1.3-1.5.4 0 .7.1 1 .3 0-.5.3-.9.6-1.2l-.6-.3-1.2-.2c-1.6 0-2.9 1-2.9 2.8 0 1.8 1.3 2.9 2.9 2.9.8 0 1.4-.3 1.4-.3l.4-.1-.6-1.1zM0 25.6h3.2c1.2 0 2.2.6 2.2 1.8 0 1-.5 1.4-1.2 1.7.9.2 1.3.8 1.3 1.6 0 1.8-1.4 2.1-2.6 2.1H0v-7.2zm1.8 5.9h.6c.7 0 1.4-.1 1.4-.9s-.7-.8-1.3-.8h-.7v1.7zm0-3h.6c.6 0 1.2-.2 1.2-.8 0-.7-.6-.7-1.2-.7h-.6v1.5zM21.8 32.9h-1.6V32c-.4.6-1 .9-1.7.9-1.5 0-2.3-1.3-2.3-3 0-1.3.8-2.7 2.1-2.7.7 0 1.3.2 1.7.8v-2.5h1.8v7.3zM19 31.6c.6 0 1-.6 1-1.4 0-.9-.4-1.5-1-1.5-.7 0-1 .7-1 1.4 0 .9.4 1.5 1 1.5zM38.3 30.1c0-1.8 1.2-2.8 2.8-2.8 1.7 0 2.9 1 2.9 2.8 0 1.8-1.2 2.9-2.9 2.9-1.6 0-2.8-1-2.8-2.9zm4 0c0-.8-.4-1.5-1.2-1.5-.8 0-1 .7-1 1.5 0 .9.2 1.6 1 1.6s1.1-.7 1.1-1.6zM15.4 32.9a7 7 0 010-1.3v-2c0-1.7-1.2-2.3-2.4-2.3-.7 0-1.4.1-2 .4V29a3 3 0 011.6-.4c.6 0 1.1.2 1.1 1l-.8-.2c-.9 0-2.5.2-2.5 1.9 0 1.2.8 1.7 1.8 1.7.7 0 1.2-.3 1.6-.8v.7h1.6zM13.7 31c-.2.4-.6.6-1 .6s-.7-.2-.7-.6c0-.5.4-.7 1-.7h.7v.7zM9.5 27.3c-.7 0-1.1.4-1.4 1.1v-1H6.5v5.4h1.7v-2.3c0-1 .5-1.7 1.3-1.7h.6v-1.4l-.6-.1zM27.8 30.4c0-1.7-.7-3.1-2.5-3.1-1.5 0-2.7 1-2.7 2.8 0 1.8 1.3 2.9 3 2.9.6 0 1.2-.1 1.7-.3v-1.4a3 3 0 01-1.5.5c-.8 0-1.3-.3-1.4-1.1h3.4v-.3zm-3.4-.8c0-.6.3-1.1 1-1.1.6 0 .9.5.9 1.1h-2zM30.7 27.3c-1 0-2.1.5-2.1 1.8 0 2 2.4 1.3 2.4 2.2 0 .4-.4.4-.7.4-.6 0-1.2-.1-1.6-.3v1.3c.4.1 1 .3 1.7.3 1.1 0 2.3-.4 2.3-1.8 0-2.1-2.6-1.4-2.6-2.3 0-.3.5-.4.8-.4.4 0 1 .2 1.4.4v-1.3c-.5-.2-1-.3-1.6-.3z" fill="#5B5B5F"/><path d="M33.4 22h-18s-5.1 0-5.1-4.9V0h18s5.1 0 5.1 4.8v17.1z" fill="#BA0038"/><path d="M20.8 18.8h-1.1v-5.5h1.1v5.5zM23.7 18.8h-1.9v-7.5h2v7.5z" fill="#fff"/><path d="M18.7 6s1.8-1.8 5-1.2c0 0 1.4.2 2.5 1 0 0 .1.2.3.1v-.3s-1-1.2-2.8-1.7c0 0-2.5-.9-5 .3 0 0-1.6.6-2.5 2.3l-2.2.9s-.2 0-.1.3h.3l1.7-.5s-.7 1.7 0 3.7a6 6 0 001.8 2.6h.3s.1 0 0-.2c0 0-.7-1-1-2.4-.2-1.1 0-2.7.8-4 0 0 3.2-.4 6 .6 0 0 4.6 1.4 3.4 4 0 0-.3 1-1.6 1.8 0 0-.2.1-.1.3h.3s2-.6 2.8-2c0 0 1.7-2.6-2.3-4.6 0 0-1.1-.6-2.6-.9 0 .1-2.6-.5-5-.1z" fill="#fff"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h44v33H0z"/></clipPath></defs></svg></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-extra-title">Segurança</li>
                            <!--<li><img src="/arquivos/footer-compare.png" alt="" /></li>-->
                            <!--<li><img src="/arquivos/footer-blindado.png" alt="" /></li>-->
                            <li><img src="/arquivos/selo-ssl.png" alt="SSL" /></li>
    						<li><a href="https://trustedcompany.com/node/578824" target="_blank"><img src="/arquivos/icon-trustedcompany.png" alt="Trusted Company" /></a></li>
    						
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-extra-title">Tecnologia /implantação</li>
                            <li><a href="https://pt.vtex.com/" target="_blank"> <img src="/arquivos/vtex.png" alt="" /></a></li>
                            <li><img src="/arquivos/footer-sanders.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="row copyright">
                    <p><strong>Óticas Diniz ® - Todos os direitos reservados</strong><span>Os preços e promoções são válidas apenas para produtos vendidos pela oticasdiniz.com.br. Os preços de lojas físicas podem variar. Não fazemos trocas em lojas físicas, apenas pelo atendimento.</span></p>
                </div>
            </div>
        </div>
    </footer>