<header class="header black-friday">
        <div class="header-topbar">
            <div class="container">
                <div class="row">
                    <span class="header-topbar-content">10x sem juros no cartão</span>
                    <span class="header-topbar-content">Frete grátis acima de R$199</span>
                    <span class="header-topbar-content">+1000 lojas</span>
                    <span class="header-topbar-content">Troca sem custo em até 30 dias</span>
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="support-nav">
                            <ul>
                                <li class="support-nav-item"><a href="https://www.oticasdiniz.com.br/seja-um-franqueado">Seja um franqueado</a></li>
                                <li class="support-nav-item"><a href="http://www.blog.oticasdiniz.com.br/?utm_source=MENUUPSITE">Blog</a></li>
                                <li class="support-nav-item"><a href="https://www.oticasdiniz.com.br/campanhas">Campanhas</a></li>
                                <li class="support-nav-item"><a href="https://www.oticasdiniz.com.br/internas/atendimento">Atendimento ao cliente</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
                <div class="row header-main-content">
                    <div class="col-md-2">
                        <h1 class="logo">
                            <!--<svg width="191" height="44" viewBox="0 0 191 44" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M73.0913 36.4403H76.5203C77.8438 36.4403 78.8665 35.7315 79.5282 34.3141C80.1899 33.0147 80.5509 31.4792 80.5509 29.8255C80.611 28.0537 80.3102 26.5772 79.6485 25.2778C78.9868 23.9785 77.9641 23.2698 76.5203 23.2698H73.0913V36.4403ZM62.0825 43.8819V15.1194H80.3102C84.2205 15.1785 87.2283 16.655 89.2737 19.549C91.3792 22.4429 92.4621 25.7503 92.5222 29.4711C92.6425 33.1919 91.68 36.4993 89.6948 39.3342C87.6495 42.2872 84.5213 43.7637 80.3102 43.8228H62.0825V43.8819ZM95.5301 15.1194H107.261V43.8819H95.5301V15.1194ZM111.412 15.1194H124.526L133.489 31.0067V15.1194H143.776V43.8819H130.361L121.398 28.349V43.8819H111.412V15.1194ZM147.927 15.1194H159.658V43.8819H147.927V15.1194ZM163.749 15.1194H190.94V22.2067L177.164 36.4403H190.579V43.8819H163.328V36.0859L176.442 22.5611H163.689V15.1194H163.749Z" fill="white"/><path d="M67.0153 2.36242C68.6997 2.36242 69.963 2.8349 70.7451 3.66175C71.5271 4.48859 71.9482 5.43356 71.888 6.49664C71.888 7.55973 71.4068 8.5047 70.5646 9.33154C69.7224 10.1584 68.4591 10.6309 66.7747 10.6309C65.2707 10.6309 64.0676 10.1584 63.2855 9.33154C62.5035 8.5047 62.0824 7.55973 62.0222 6.49664C62.0222 5.43356 62.3832 4.48859 63.2254 3.66175C64.0676 2.77584 65.2707 2.36242 67.0153 2.36242ZM66.895 4.13423C66.1731 4.13423 65.6317 4.37047 65.2707 4.84295C64.9098 5.31544 64.7293 5.84698 64.7293 6.49664C64.7293 7.14631 64.9098 7.67785 65.2707 8.15034C65.6317 8.68188 66.1731 8.91812 66.895 8.91812C67.7372 8.91812 68.3388 8.68188 68.6997 8.15034C69.1208 7.67785 69.3013 7.14631 69.2411 6.49664C69.2411 5.84698 69.0005 5.31544 68.6395 4.84295C68.2786 4.37047 67.677 4.13423 66.895 4.13423ZM66.534 0H69.0005L67.7372 1.29933H65.8121L66.534 0ZM74.6553 4.19329H72.1888V2.42148H79.7085V4.19329H77.2421V10.3946H74.6553V4.19329ZM80.4304 2.42148H82.8969V10.3946H80.4304V2.42148ZM91.0783 2.5396L91.3791 4.42953C90.958 4.31141 90.4767 4.19329 89.9353 4.13423C89.3939 4.07517 88.8524 4.13423 88.3712 4.25235C87.8899 4.37047 87.4688 4.54765 87.1079 4.90201C86.7469 5.25638 86.5665 5.72886 86.5665 6.37852C86.5665 7.61879 87.0477 8.38658 88.0102 8.68188C88.9126 8.97718 90.0556 8.91812 91.3189 8.44564L91.0181 10.3356C89.6345 10.5718 88.4915 10.6309 87.5891 10.4537C86.6868 10.2765 85.9649 9.98121 85.4235 9.50873C85.1828 9.27248 84.9422 9.03624 84.7617 8.8C84.5813 8.56376 84.461 8.26846 84.3406 7.97316C84.1602 7.38255 84.0399 6.85101 84.0399 6.31946C84.0399 5.72886 84.2203 5.19732 84.5211 4.60671C84.8219 4.07517 85.243 3.60268 85.7844 3.18926C86.3258 2.77584 87.0477 2.48054 87.9501 2.36242C88.8524 2.2443 89.8751 2.30336 91.0783 2.5396ZM95.1088 2.42148H98.1769L101.486 10.3946H98.8386L97.9964 8.03222H95.0487L94.0861 10.3946H91.4392L95.1088 2.42148ZM95.5901 6.43758H97.5151L96.6729 4.19329L95.5901 6.43758ZM107.14 4.42953C106.358 4.19329 105.757 4.07517 105.275 4.07517C104.854 4.13423 104.554 4.25235 104.433 4.42953C104.313 4.60671 104.373 4.90201 104.554 5.13826C104.734 5.43356 105.095 5.72886 105.636 5.9651C106.298 6.31946 106.779 6.79195 107.14 7.38255C107.441 7.97316 107.501 8.56376 107.321 9.0953C107.14 9.62685 106.599 10.0403 105.757 10.3356C104.914 10.6309 103.651 10.5718 101.967 10.2765L101.666 8.32752C102.388 8.62282 103.11 8.8 103.772 8.8C104.072 8.8 104.373 8.74094 104.554 8.62282C104.734 8.5047 104.854 8.32752 104.854 8.09128C104.854 7.91409 104.794 7.73691 104.614 7.61879C104.433 7.44161 104.253 7.32349 104.012 7.14631C103.771 6.96913 103.531 6.85101 103.29 6.61477C103.05 6.43758 102.749 6.20134 102.568 6.02416C102.207 5.61074 101.967 5.13826 101.846 4.60671C101.726 4.13423 101.846 3.66175 102.147 3.24832C102.448 2.8349 102.989 2.48054 103.711 2.36242C104.493 2.18524 105.516 2.2443 106.84 2.48054L107.14 4.42953Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M52.5176 23.0335C50.773 23.9194 49.4495 24.451 46.9831 25.1006C43.2533 26.1047 39.1626 24.0966 36.2149 21.498C34.4102 19.9033 33.1468 16.8913 30.7405 17.4228L30.3796 17.6L30.0788 17.9543C28.6952 19.9033 30.9812 22.2067 31.8234 24.451C33.1468 28.1127 33.4476 32.6013 31.1015 35.6134C29.5374 37.6215 28.5147 38.6255 27.0108 39.8658C24.785 41.6966 22.5591 43.1141 20.1528 44.059H56.6083V20.553C55.345 21.498 54.0215 22.3248 52.5176 23.0335Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.28598 28.8215C6.55717 24.451 11.6706 21.3208 16.9644 18.2497C19.9121 16.5369 23.8224 15.1785 27.3717 13.702C27.4318 13.702 27.5521 13.643 27.6123 13.5839C27.7326 13.5248 27.7928 13.4067 27.8529 13.4067C30.6202 10.8081 33.3874 7.73692 36.0945 5.72887C38.1398 4.1933 40.1852 2.77585 42.2305 1.3584H0V31.1839L2.28598 28.8215Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M29.8982 17.7181L30.2592 17.4819L30.6201 17.2456C33.3272 15.651 35.4327 18.6631 37.0569 20.3168C38.1398 21.3799 39.8242 22.443 41.1477 22.9745C43.8547 24.0376 48.1259 23.1517 51.4346 21.3208C53.1791 20.3758 54.9839 19.1946 56.548 17.7772V1.3584H48.1259C43.0125 4.13424 38.5007 7.44162 34.3499 11.5168C32.9061 12.9342 31.4623 14.3517 30.0185 15.7691C29.8982 15.8873 29.6576 16.0644 29.417 16.2416C29.1763 16.4188 28.8755 16.5369 28.7552 16.596C26.8302 17.3638 25.0255 18.1316 23.1004 18.8993C16.062 21.7933 9.98608 25.6913 4.27112 30.8886L1.80467 33.3101C1.32341 33.5463 0.902304 33.7235 0.481201 33.9597C0.842146 34.3732 1.20309 34.7275 1.62419 35.141C1.86482 35.0228 2.10545 35.0228 2.40624 35.0228C3.42892 35.0228 4.33128 35.3772 4.93285 36.0859C7.279 39.0389 9.26419 41.7557 13.2346 42.5826C17.8066 43.4685 22.2582 40.9289 25.7473 38.2121C28.7552 35.9087 31.2217 32.3061 31.2217 29.4712C31.2217 28.0537 30.9209 26.1638 30.3193 24.7463C29.417 22.6201 27.3114 19.6081 29.8982 17.7181Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.17354 40.4564C4.33134 39.6296 3.66961 38.5665 2.94772 37.6215L2.8274 37.4443L2.70709 37.3262L2.58677 37.2671C1.86488 36.9718 1.38362 37.9168 0.601575 37.2671C0.360945 37.2081 0.180472 37.0309 0 36.9128V44H9.68535C8.0611 43.1141 6.55717 41.8739 5.17354 40.4564Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.82739 37.5034C2.82739 37.5624 2.88755 37.5624 2.88755 37.6215L2.82739 37.5034Z" fill="white"/></g><defs><clipPath id="clip0"><rect width="191" height="44" fill="white"/></clipPath></defs></svg>-->
                            <img src="/arquivos/sanders-logo-diniz.png" alt="óticas diniz" title="óticas diniz" />

                        </h1>
                    </div>
                    <div class="col-md-6">
                        <nav class="main-nav">
                            <ul>
                                 <li class="main-nav-level-1" data-item="oculos-de-sol">
                                    <a href="https://www.oticasdiniz.com.br/oculos-de-sol/">Óculos de sol</a>
                                    <div class="main-nav-level-1-content">
                                        <ul>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino?map=c,specificationFilter_94">Feminino</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Aviador?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-aviador.png" alt="" />
                                                                <span>Aviador</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Oval?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-oval.png" alt="" />
                                                                <span>Oval</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Retangular?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-retangular.png" alt="" />
                                                                <span>Retangular</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Gatinho?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-gatinho.png" alt="" />
                                                                <span>Gatinho</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Quadrado?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino/Redondo?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-redondo.png" alt="" />
                                                                <span>Redondo</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Feminino?map=c,specificationFilter_94">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino?map=c,specificationFilter_94">Masculino</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/Aviador?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-aviador.png" alt="" />
                                                                <span>Aviador</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/Oval?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-oval.png" alt="" />
                                                                <span>Oval</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/Retangular?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-retangular.png" alt="" />
                                                                <span>Retangular</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/M%C3%A1scara?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-mascara.png" alt="" />
                                                                <span>Mascara</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/Quadrado?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino/Redondo?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-redondo.png" alt="" />
                                                                <span>Redondo</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Masculino?map=c,specificationFilter_94">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Infantil?map=c,specificationFilter_94">Infantil</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>                                                        
                                                        <!--<li class="main-nav-level-3">-->
                                                        <!--    <a href="">-->
                                                        <!--        <img src="/arquivos/menu-aviador.png" alt="" />-->
                                                        <!--        <span>Aviador</span>-->
                                                        <!--    </a>-->
                                                        <!--</li>-->
                                                       
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Infantil/Quadrado?PS=24&amp;map=c,specificationFilter_94,specificationFilter_91">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>                                                       
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-sol/Infantil?map=c,specificationFilter_94">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </li>
                                 <li class="main-nav-level-1" data-item="oculos-de-grau">
                                    <a href="https://www.oticasdiniz.com.br/oculos-de-grau/">Armação óculos de grau</a>
                                    <div class="main-nav-level-1-content">
                                        <ul>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino?map=c,specificationFilter_83">Feminino</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Aviador?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-aviador.png" alt="" />
                                                                <span>Aviador</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Oval?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-oval.png" alt="" />
                                                                <span>Oval</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Retangular?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-retangular.png" alt="" />
                                                                <span>Retangular</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Gatinho?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-gatinho.png" alt="" />
                                                                <span>Gatinho</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Quadrado?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino/Redondo?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-redondo.png" alt="" />
                                                                <span>Redondo</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Feminino?map=c,specificationFilter_83">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino?map=c,specificationFilter_83">Masculino</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>
                                                        
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino/Oval?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-oval.png" alt="" />
                                                                <span>Oval</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino/Retangular?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-retangular.png" alt="" />
                                                                <span>Retangular</span>
                                                            </a>
                                                        </li>
                                                        
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino/Quadrado?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino/Redondo?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-redondo.png" alt="" />
                                                                <span>Redondo</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Masculino?map=c,specificationFilter_83">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                            <li class="main-nav-level-2">
                                                <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Infantil?map=c,specificationFilter_83">Infantil</a>
                                                <div class="main-nav-level-2-content">
                                                    <ul>                                                        
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Infantil/Oval?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-oval.png" alt="" />
                                                                <span>Oval</span>
                                                            </a>
                                                        </li>
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Infantil/Retangular?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-retangular.png" alt="" />
                                                                <span>Retangular</span>
                                                            </a>
                                                        </li>
                                                       
                                                        <li class="main-nav-level-3">
                                                            <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Infantil/Quadrado?PS=24&amp;map=c,specificationFilter_83,specificationFilter_85">
                                                                <img src="/arquivos/menu-quadrado.png" alt="" />
                                                                <span>Quadrado</span>
                                                            </a>
                                                        </li>                                                       
                                                    </ul>
                                                    <a href="https://www.oticasdiniz.com.br/oculos-de-grau/Infantil?map=c,specificationFilter_83">Ver todos os modelos</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </li>
                                <!--<li><a href="">Lentes de grau</a></li>-->
                                <li><a href="">Marcas</a></li>
                                <li><a href="lojas/">Nossas lojas</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4">
                        <div class="header-main-search">
                            <vtex.cmc:fullTextSearchBox/>
                        </div>
                        <div class="header-main-account">
                            <a href="/account">minha conta</a>
                        </div>
                        <div class="header-main-cart">
                            <a href="/checkout/#/cart">
                                <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.3689 16.7182L29.9154 6.10301C30.0934 5.5927 29.9587 5.28593 29.8151 5.08338C29.4474 4.5652 28.6913 4.56029 28.5448 4.56029L8.5012 4.55635L7.96631 2.01858C7.82177 1.41978 7.39504 0.848511 6.53469 0.848511H0.901642C0.31759 0.848511 0 1.12185 0 1.66756V3.1326C0 3.66061 0.316607 3.79827 0.92229 3.79827H5.67828L9.31828 19.252C8.74013 19.8646 8.42549 20.7574 8.42549 21.5902C8.42549 23.423 9.88463 25.1122 11.7489 25.1122C13.5089 25.1122 14.8284 23.4633 15.0428 22.4801H22.132C22.3464 23.4633 23.4152 25.1515 25.4249 25.1515C27.2567 25.1515 28.7464 23.5646 28.7464 21.7347C28.7464 19.9147 27.6402 18.3012 25.4436 18.3012C24.5302 18.3012 23.4466 18.7929 22.9432 19.5303H14.2326C13.6003 18.547 12.737 18.2422 11.8639 18.2078L11.743 17.5638H24.9962C25.9952 17.5638 26.1919 17.2 26.3689 16.7182ZM25.4495 20.4457C26.1388 20.4457 26.6982 21.0052 26.6982 21.6944C26.6982 22.3837 26.1388 22.9432 25.4495 22.9432C24.7603 22.9432 24.1998 22.3847 24.1998 21.6944C24.2008 21.0052 24.7603 20.4457 25.4495 20.4457ZM12.9838 21.6944C12.9838 22.3916 12.4175 22.9589 11.7223 22.9589C11.0252 22.9569 10.4579 22.3916 10.4579 21.6944C10.4579 20.9973 11.0252 20.43 11.7223 20.43C12.4175 20.43 12.9838 20.9973 12.9838 21.6944Z" fill="white"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>